@import 'variables';

.class-profile {

    .flip {

        img {
            width: 172px;
            max-width: 172px;
            background-color: $cmwn-purple;
            transition: background-color 2s;

            &:hover {
                background-color: $cmwn-blue;
            }
        }
    }
}
