@import 'variables';

$flip-width: 172px;

.class-profile {

    .flip {

        img {
            transition: background-color 2s;
            background-color: $cmwn-purple;
            width: $flip-width;
            max-width: $flip-width;

            &:hover {
                background-color: $cmwn-blue;
            }
        }

        p {
            max-width: $flip-width;
        }
    }
}
