@import 'variables';

.btn-default {

    &.reset {
        border: 0;
        background-color: transparent;
        color: inherit;
    }
}

.btn {

    &.blue {
        background-color: $cmwn-blue;
    }

    &.green {
        background-color: $cmwn-green;
    }

    &.purple {
        background-color: $cmwn-purple;
    }

    &.standard {
        margin: 0 5px;
        outline: none;
        border: 0;
        box-shadow: 0 0 20px $cmwn-medium-gray;
        padding: 5px;
        text-transform: uppercase;
        color: $cmwn-white;
        font-family: $cmwn-jade-font;
        font-size: 18px;
    }

    &.reset {
        display: initial;
        margin: auto;
        border: 0;
        border-radius: 0;
        background-image: none;
        padding: 0;
        vertical-align: middle;
        text-align: inherit;
        line-height: inherit;
        white-space: normal;
        font-size: inherit;
        font-weight: inherit;
        touch-action: manipulation;
        user-select: none;
    }

}
