@import 'variables';

html .modal-backdrop.in {
    opacity: .8;
    background-color: $cmwn-blue;
}

html .full-width {
    .modal-dialog {
        margin: 50px auto;
        width: 95vw;
    }
}

.modal-dialog {

    .modal-close {
        float: right;
        margin-top: -10px;
        font-size: .7rem;
    }
}
