@import 'variables';

.panel.standard {
    border: 0;
    border-radius: 0;

    .panel-heading {
        font-size: 1.2rem;
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
        color: #fff;
        background: url(media/blue-header-bg.jpg);
        background-color: $cmwn-blue;
        background-size: 100% auto;
        border-radius: 0;
    }

    .panel-body {
        border-radius: 0;
    }
}
