@import 'variables';

$tab-overlap: 4px;

.standard > .nav-tabs {
    border-bottom: 1px solid $cmwn-blue;

    li {
        margin-right: -$tab-overlap;
        border: 1px solid $cmwn-blue;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: inset 0 -37px 40px -37px $cmwn-dark-gray;
        background: $cmwn-blue;

        a {
            margin-right: 0;
            margin-left: $tab-overlap / 2;
            border: 0;
            padding: 5px 20px;
            width: 100px;
            text-align: center;
            letter-spacing: 1px;
            color: $cmwn-white;
            font-family: $helvetica;
        }

        &.active {
            z-index: 1;
            margin-left: 0;
            border: 1px solid $cmwn-blue;
            border-bottom-color: transparent;
            box-shadow: none;
            background: $cmwn-white;

            a {
                border: 0;
                color: $cmwn-blue;
            }
        }
    }
}

