build.zip
docker-compose.yml
.vagrant
node_modules
build
**/*.swp
.DS_Store
**/*.log
bumpVersion.sh
npm-debug.log.*
.brackets.json
.vagrant
.vagrant/**/*
_builds
_cache
_steps
_projects
.wercker
wercker.env
front.sh
stop_front.sh
errorShots
coverage
coverage/**/*
lib
lib/**/*
.nyc_output
tar-*
scssReport.json
scsslint.json
