#cmwn-app .change-password { // scss-lint:disable IdSelector
    .confirm-re-login {
        position: absolute;
        left: 0;
        padding-bottom: 66.28%; //preserve aspect ration of background image
        width: 100%;

        &.bkg-1 {
            background: url('../media/login/bkg-1.jpg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.bkg-2 {
            background: url('../media/login/bkg-2.jpg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            background: url('../media/login/blue-box.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 70%;
            height: 55%;
            content: '';
        }

        .confirm-re-login-container {
            &:before {
                position: absolute;
                top: 28%;
                left: 50%;
                transform: translateX(-52%);
                background: url('../media/login/reset-header.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 23%;
                height: 10%;
                content: '';
            }

            &:after {
                position: absolute;
                top: 39%;
                left: 50%;
                transform: translateX(-53%);
                background: url('../media/login/reset-text.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 59%;
                height: 19%;
                content: '';
            }
        }

        .close-screen-button {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translateX(-50%);
            outline: none;
            border: 0;
            background: url('../media/login/btn-ok.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 22%;
            height: 10%;

            &:hover,
            &:focus,
            &:active,
            &:active:focus {
                outline: none;
                border: 0;
                background: url('../media/login/btn-ok-hover.png');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .global-footer { //override default border style
        border: 0;
    }
}
