@import 'variables';

#cmwn-app .change-password { // scss-lint:disable IdSelector
    .confirm-re-login,
    .update-password {
        position: absolute;
        left: 0;
        padding-bottom: 66.28%; //preserve aspect ration of background image
        width: 100%;

        &.bkg-1 {
            background: url('../media/login/bkg-1.jpg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.bkg-2 {
            background: url('../media/login/bkg-2.jpg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &::before {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            content: '';
        }
    }

    .confirm-re-login::before {
        background: url('../media/login/blue-box.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 70%;
        height: 65%;
    }

    .update-password::before {
        background: url('../media/login/form-bkg.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 65%;
        height: 77%;
    }


    .confirm-re-login-container {
        &::before {
            position: absolute;
            top: 28%;
            left: 50%;
            transform: translateX(-50%);
            background: url('../media/login/reset-header.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 23%;
            height: 10%;
            content: '';
        }

        &::after {
            position: absolute;
            top: 39%;
            left: 50%;
            transform: translateX(-50%);
            background: url('../media/login/reset-text.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 59%;
            height: 19%;
            content: '';
        }
    }

    .update-password-container {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 55%;
    }

    .header {
        text-shadow: -6px 4px 1px $cmwn-light-gray;
        color: $cmwn-white;
        font-family: $cmwn-jade-font;
        font-size: 3rem;
    }

    .copy-container {
        margin-bottom: 5%;
    }

    .copy {
        color: $cmwn-white;
        font-size: .75rem;
    }

    .error {
        color: $cmwn-error-red;
        font-size: .75rem;
        font-weight: bold;
        font-style: italic;
    }

    .link {
        color: $cmwn-purple;
    }

    .update-password-form {
        .form-group {
            margin-bottom: 3px;
        }

        .control-label {
            color: $cmwn-white;
            font-size: 1.5rem;
        }

        .form-control {
            outline: none;
            border: 2px dashed $cmwn-white;
            border-radius: 0;
            box-shadow: none;
            background-color: transparent;
            width: 45%;
            text-align: center;
            color: $cmwn-white;
        }

        ::-webkit-input-placeholder {
            color: $cmwn-white;
        }
    }


    .toggle-characters {
        display: none;

        &:checked ~ span::before {
            background-color: $cmwn-purple;
        }
    }

    .radio span {
        vertical-align: middle;
//        color: $cmwn-white;
        font-family: $cmwn-jade-font;
        font-size: .75rem;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: border .25s linear;
            border: 1px dashed $cmwn-white;
            background-color: $cmwn-light-purple;
            width: $standard;
            height: $standard;
            content: '';
        }
    }

    .close-screen-button {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        outline: none;
        border: 0;
        background: url('../media/login/btn-ok.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 22%;
        height: 10%;

        &:hover,
        &:focus,
        &:active,
        &:active:focus {
            outline: none;
            border: 0;
            background: url('../media/login/btn-ok-hover.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .submit-button {
        margin-top: 10px;
        outline: none;
        border: 0;
        background: url('#{$media-url}f10ef91c70f0e96f9e221337cf89dcb7.png');
        background-repeat: no-repeat;
        background-position: 2px 0;
        background-size: 199%;
        width: 30%;
        height: 47px;

        &:hover,
        &:focus,
        &:active {
            outline: none;
            border: 0;
            box-shadow: none;
            background-position: -161px 0;
        }
    }

    .global-footer { //override default border style
        border: 0;
    }

    @media (min-width: $device-max-break + (($monitor-max-break - $device-max-break)/2)) and (max-width: $monitor-max-break) {
        .header {
            font-size: 2.5rem;
        }

        .update-password-form .control-label {
            font-size: 1rem;
        }

        .submit-button {
            margin-top: -20px;
            padding: 3px 6px;
            font-size: 11px;
        }
    }

    @media (min-width: $device-max-break) and (max-width: $device-max-break + (($monitor-max-break - $device-max-break)/2)) {
        .update-password::before {
            width: 70%;
        }

        .update-password-container {
            top: 50%;
            width: 60%;
        }

        .header {
            font-size: 1.75rem;
        }

        .copy-container {
            margin-bottom: 2%;
        }

        .copy,
        .radio span {
            font-size: .65rem;
        }

        .update-password-form .control-label {
            font-size: .75rem;
        }

        .submit-button {
            margin-top: -15px;
            padding: 3px 6px;
            font-size: 11px;
        }
    }

    @media (min-width: $device-portrait-break + (($device-max-break - $device-portrait-break)/2)) and (max-width: $device-max-break) {
        .update-password::before {
            width: 80%;
            height: 90%;
        }

        .update-password-container {
            top: 47%;
            width: 70%;
        }

        .header {
            margin-bottom: 0;
            margin-left: 0;
            font-size: 1.75rem;
        }

        .copy-container {
            margin-bottom: 2%;
        }

        .copy,
        .radio span {
            font-size: .55rem;
        }

        .update-password-form {
            .control-label {
                font-size: .75rem;
            }

            .form-control {
                height: 30px;
            }
        }

        .submit-button {
            margin-top: -10px;
            padding: 3px 6px;
            font-size: 11px;
        }
    }

    @media (min-width: $device-portrait-break) and (max-width: $device-portrait-break + (($device-max-break - $device-portrait-break)/2)) {
        .update-password::before {
            width: 90%;
            height: 100%;
        }

        .update-password-container {
            top: 47%;
            width: 80%;
        }

        .header {
            margin-bottom: 5px;
            margin-left: 0;
            font-size: 1.75rem;
        }

        .copy-container {
            margin-bottom: 2%;
        }

        .copy,
        .radio span {
            font-size: .55rem;
        }

        .update-password-form {
            .control-label {
                font-size: .65rem;
            }

            &:hover,
            &:focus,
            &:active,
            &:active:focus {
                outline: none;
                border: 0;
                background: url('../media/login/btn-ok-hover.png');
                background-repeat: no-repeat;
                background-size: contain;
            }

            .form-control {
                height: 20px;
                font-size: .75rem;
            }
        }

        .submit-button {
            margin-top: -23px;
            padding: 3px 6px;
            font-size: 11px;
        }
    }

    @media (max-width: $device-portrait-break) {
        .update-password::before {
            top: 0;
            left: 0;
            transform: none;
            background-position: center;
            background-size: 230%;
            width: 100%;
            height: 200%;
        }

        .update-password-container {
            top: 85%;
            width: 90%;
        }

        .header {
            margin-left: 0;
            text-align: center;
            font-size: 2.25rem;
        }

        .copy-container {
            margin-bottom: 2%;
            text-align: center;
        }

        .copy,
        .radio span {
            font-size: .75rem;
        }

        .link {
            font-size: 1rem;
        }

        .update-password-form {
            .control-label {
                font-size: 1.25rem;
            }

            .form-control {
                width: 100%;
            }
        }

        .submit-button {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
