.friends-page {

    .relwrap {
        position: relative;
        height: 100%;
    }

    .abswrap {
        position: absolute;
        bottom: 0;
    }

    .overlay {
        text-align: center;
    }

    .btn.standard {
        width: 100%;
        margin: 5px 0;
    }

    .hidden {
        display: none;
    }
}
