.friends-page {

    .overlay {
        text-align: center;
    }

    .btn{
        opacity: 1;
        transition: opacity 1s ease-in-out;

        &.standard {
            width: 100%;
            margin: 5px 0;
        }

        &.faded {
            opacity: 0;
        }
    }

}
