@import 'variables';

.portrait-overlay {

    background-color: $cmwn-white;
    z-index: $z-over-game;

    // scss-lint:disable all
    width: $game-responsive-width-portrait-ie; // ie-fallback
    max-width: $game-responsive-width-portrait-ie; // ie-fallback
    height: $game-responsive-height-portrait-ie; // ie-fallback
    max-height: $game-responsive-height-portrait-ie; // ie-fallback
    width: $game-responsive-width-portrait;
    max-width: $game-responsive-width-portrait;
    height: $game-responsive-height-portrait;
    max-height: $game-responsive-height-portrait;
    // scss-lint:enable all

    &.fullscreen {
        // scss-lint:disable all
        position: fixed;
        width: $game-fullscreen-width-portrait-ie; // ie-fallback
        max-width: $game-fullscreen-width-portrait-ie; // ie-fallback
        height: $game-fullscreen-height-portrait-ie; // ie-fallback
        max-height: $game-fullscreen-height-portrait-ie; // ie-fallback
        width: $game-fullscreen-width-portrait;
        max-width: $game-fullscreen-width-portrait;
        height: $game-fullscreen-height-portrait;
        max-height: $game-fullscreen-height-portrait;
        // scss-lint:enable all
    }
}

