@import 'variables';

// scss-lint:disable IdSelector
#home.home {

// scss-lint:enable IdSelector

    text-align: center;

    // scss-lint:disable QualifyingElement
    .logo-button,
    .logo-button:hover,
    .logo-button:active,
    a.logo-button:focus {
        cursor: pointer;
    }
    // scss-lint:enable QualifyingElement

    h2 {
        text-transform: uppercase;
        font-size: 36px;
    }

    footer {
        border-top: solid 5px $cmwn-blue;
        padding: 30px;

        .links {
            position: relative;
            top: auto;
            right: auto;
            font-size: 13px;
        }
    }

    button:active {
        transform: scale(.95);
    }

    .fallback {
        display: none;
    }

    .links {
        a,
        a:active,
        a:visited {
            color: $cmwn-black;
            font-size: 11px;
        }

        a:not(:last-child) {
            margin-right: 5px;
            border-right: solid 1px $cmwn-black;
            padding-right: 5px;
        }
    }

    .sweater,
    .global-header {
        box-shadow: 0 0 20px $cmwn-light-gray;
    }

    .sweater,
    .carousel,
    .global-header {
        text-align: left;
    }

    .sweater {
        padding-top: 0;

        h2 {
            color: $cmwn-blue;
        }
    }

    .global-header {
        margin-bottom: 20px;

        .logo {
            width: 20vw;
            min-width: 150px;
        }

        // scss-lint:disable all
        .header-logo {
        // scss-lint:enable all
            position: absolute;
            top: $standard;
            right: 300px;
            float: none;
            padding-left: 5 * $standard;
            width: calc(100% - #{$logout-size} - #{$logo-size } - 200px);

            img {
                width: 100%;
            }

            @media (max-width: $device-max-break) {
                right: 2 * $standard;
                margin: 0;
                padding-left: 2 * $standard;
                width: calc(100% - 70px - 165px - 88px);
                min-width: 299px;
            }
        }

        .links {
            position: absolute;
            top: 10px;
            right: 20px;

            @media (max-width: $device-max-break) {
                display: none;
            }
        }

        .actions {
            position: absolute;
            right: 20px;
            bottom: 0;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            box-shadow: 0 0 20px $cmwn-light-gray;

            button {
                margin: 10px;
                outline: none;
                border: 0;
                padding: 3px 0;
                width: 110px;
                text-transform: uppercase;
                color: $cmwn-white;
                font-family: 'CMWNJadeRegular';
            }

            button:hover {
                background-color: transparent;
                color: $cmwn-purple;
            }

            button:first-child {
                //margin-right: 0;
                background-color: $cmwn-green;
            }

            button:first-child:hover {
                background-color: transparent;
                color: $cmwn-green;
            }
        }
    }

    .global-header::after {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: $cmwn-white;
        height: 20px;
        content: '';
    }

    .carousel {
        z-index: 1;
        margin: auto;
        margin-bottom: -10px;
        max-width: 1358px;

        .item {
            position: relative;
            overflow: hidden;

            .em {
                color: $cmwn-purple;
            }

            img {
                min-width: 1025px;
                min-height: 370px;

                @media (max-width: $device-max-break) {
                    min-width: 914px;
                    min-height: 330px;
                }
            }

            .content-group {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: 0;
                box-shadow: none;
                background-color: transparent;
                width: 100%;

                // scss-lint:disable SelectorDepth, NestingDepth

                > * {
                    margin-right: 20px;
                    margin-left: 80px;

                    @media (max-width: $device-max-break) {
                        margin-left: 20px;
                    }
                }

                // scss-lint:enable SelectorDepth, NestingDepth

            }

            .content-group::before {
                content: none;
            }

            .centered {
                // scss-lint:disable SelectorDepth, NestingDepth

                > h2 {
                    font-size: 55px;
                }

                > * {
                    display: inline-block;
                    vertical-align: middle;
                }

                // scss-lint:enable SelectorDepth, NestingDepth

            }

            .centered::after {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
                content: '';
            }

            h2 {
                margin: 0;
                margin-bottom: 20px;
                width: 420px;
                color: $cmwn-white;

                @media (max-width: $device-max-break) {
                    width: auto;
                    font-size: 30px;
                }
            }

            button {
                outline: none;
                border: 0;
                box-shadow: 0 0 20px $cmwn-medium-gray;
                background-color: $cmwn-purple;
                padding: 5px;
                padding-right: 20px;
                text-transform: uppercase;
                line-height: 50px;
                color: $cmwn-white;
                font-family: 'CMWNJadeRegular';
                font-size: 18px;
            }

            button:hover {
                background-color: $cmwn-white;
                color: $cmwn-purple;
            }

            button::before {
                float: left;
                margin-right: 20px;

                background: $cmwn-black url('../media/home/btn_play.png') center no-repeat;
                background-size: 20px;
                width: 70px;
                height: 50px;
                content: '';
            }
        }

        .item.next,
        .item.prev {
            position: absolute;
            top: 0;
        }

        .carousel-control {
            display: none;
        }
    }

    .message {
        overflow: hidden;

        h2,
        p {
            margin-right: 40px;
            margin-left: 20px;
        }

        h2 {
            margin-top: 65px;

            @media (max-width: $device-max-break) {
                margin-top: 10px;
                margin-right: 10px;
                font-size: 32px;
            }

            @media (max-width: $device-portrait-break) {
                font-size: 20px;
            }
        }

        img {
            float: left;
            margin-right: 20px;
            width: 50%;

            @media (max-width: $device-max-break) {
                margin-right: 10px;
                margin-bottom: 25px;
                width: 40%;
            }
        }

        p {
            line-height: 26px;
            color: $copy-medium-gray;
            font-size: 17px;

            @media (max-width: $device-max-break) {
                clear: both;
                margin: 50px 15px;
                margin-top: 0;
                line-height: 24px;
                font-size: 14px;
            }
        }
    }

    .message::after {
        display: block;
        clear: both;
        border-bottom: solid 1px $rule-light-gray;
        content: '';
    }

    .partners {
        margin: 65px 30px;

        h2 {
            margin-left: 0;
        }

        .logos {
            margin-right: -20px;
            text-align: center;
            line-height: 0;
        }

        .cell {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 20px;
            border: solid 1px $rule-light-gray;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
            width: 120px;
            height: 120px;
        }
    }

    &::after {
        position: absolute;
        right: 0;
        bottom: 100%;
        left: 0;
        box-shadow: 0 0 20px $cmwn-black;
        height: 10px;
        content: '';
    }
}


