@import 'variables';

#cmwn-app .login {
/********************
shared
********************/
    .login-tab,
    .forgot-password-tab,
    .teacher-confirm-password-reset-container,
    .student-confirm-password-reset-container {
        width: 100%;
        padding-bottom: 66.28%; //preserve aspect ration of background image
        position: absolute;
        left: 0;

        &.bkg-1 {
            background: url(../media/login/bkg-1.jpg);
            background-size: contain;
            background-repeat: no-repeat;
        }

        &.bkg-2 {
            background: url(../media/login/bkg-2.jpg);
            background-size: contain;
            background-repeat: no-repeat;
        }

        &.bkg-3 {
            background: url(../media/login/bkg-3.png);
            background-size: contain;
            background-repeat: no-repeat;
        }

        &.bkg-4 {
            background: url(../media/login/form-bkg.png);
            background-size: 110%;
            background-position: center;
            background-repeat: no-repeat;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 90%;
                height: 100%;
                background: url(../media/login/bkg-4.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    .login-container,
    .forgot-password-container {
        position: absolute;
        background: url(../media/login/form-bkg.png);
        background-size: contain;
        background-position: 0 11px;
        background-repeat: no-repeat;
        width: 70%;
        padding-top: 48.48%;
        left: 50%;
        top: 48%;
        transform: translateX(-50%) translateY(-50%);

        .login-content,
        .forgot-password-content {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            padding: 3%;

            .header {
                position: absolute;
                left: 5%;
                top: 14%;
            }
        }

        .login-form,
        .forgot-password-form {
            position: relative;
            width: 50%;
            margin: 12% 0 0 2%;

            label {
                color: $cmwn-white;
                font-size: 1.5rem;
                margin: 5px 0;
            }

            input {
                background: none;
                border: 3px dashed $cmwn-white;
                height: 50px;
                text-align: center;
                color: $cmwn-white;
                font-size: 1.75rem;
            }

            ::-webkit-input-placeholder {
              color: $cmwn-white;
            }

            #login-button,
            #forgot-password-button {
                position: absolute;
                background: url(../media/login/btn-submit.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 58%;
                padding-bottom: 26%;
                border: none;
                outline: none;
                display: block;

                &:hover,
                &:focus,
                &:active,
                &:active:focus {
                    background: url(../media/login/btn-submit-hover.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    border: none;
                    outline: none;
                }
            }

            .signup-prompt {
                position: absolute;
                left: 64%;
                color: $cmwn-white;
                width: 130%;

                h2 {
                    font-size: 1.25rem;
                    margin: 0;
                }

                p {
                    font-weight: 200;
                }

                a,
                a:hover,
                a:focus {
                    color: $cmwn-purple;
                }

                a.mobile {
                    display: none;
                }
            }
        }
    }

/********************
login tab
********************/
    .login-container {
        .login-content .header {
            background: url(../media/login/login-header.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 20%;
            height: 12%;
            top: 14%;
        }

        .login-form {
            .form-group {
                margin: ($standard * 2) 0;
            }

            .forgot-password-link {
                position: absolute;
                left: 104%;
                top: 82%;
                width: 100%;
                text-decoration: underline;
                color: #fff;
                font-size: 1.25rem;
                font-style: italic;
            }

            .signup-prompt {
                top: 128%;
            }

            #login-button {
                top: 131%;
            }
        }
    }

/********************
forgot password tab
********************/
    .forgot-password-container {
        .forgot-password-content .header {
            background: url(../media/login/forgot-password-header.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 55%;
            height: 15%;
            top: 16%;
        }

        .forgot-password-form {
            p.option-label {
                color: $cmwn-white;
                font-size: 1.5rem;
                margin: 0 0 0 2%;
            }

            .signup-prompt {
                top: 152%;
            }

            .form-group {
                margin: ($standard * 2) 0 $standard 0;
            }

            .form-group:first-of-type:hover:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 50%;
                background: url(../media/login/hover-username.png);
                background-size: contain;
                background-repeat: no-repeat;
                top: -25%;
            }

            .form-group:last-of-type:hover:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 50%;
                background: url(../media/login/hover-teacher.png);
                background-size: contain;
                background-repeat: no-repeat;
                top: 30%;
                left: 15%;
            }

            .form-group:not(:first-of-type),
            .radio {
                display: inline;
                margin: 4px;
                top: -15px;

                span {
                    position: relative;
                    top: 13px;
                }
            }

            #forgot-password-button {
                top: 155%;
            }
        }
    }

/********************
adult confirm password reset
********************/
    .teacher-confirm-password-reset-container {
        #close-screen-button {
            position: absolute;
            right: 3%;
            top: 4%;
            width: 25%;
            height: 10%;
            border: none;
            outline: none;
            background: url(../media/login/btn-closescreen.png);
            background-size: contain;
            background-repeat: no-repeat;

            &:hover,
            &:active,
            &:focus,
            &:active:focus {
                background: url(../media/login/btn-closescreen-hover.png);
                background-size: contain;
                background-repeat: no-repeat;
                border: none;
                outline: none;
            }
        }

        #open-email-button {
            position: absolute;
            left: 6%;
            bottom: 12%;
            width: 25%;
            height: 11%;
            border: none;
            outline: none;
            background: url(../media/login/btn-launchmail.png);
            background-size: contain;
            background-repeat: no-repeat;

            &:hover,
            &:active,
            &:focus,
            &:active:focus {
                background: url(../media/login/btn-launchmail-hover.png);
                background-size: contain;
                background-repeat: no-repeat;
                border: none;
                outline: none;
            }
        }
    }

/********************
adult confirm password reset
********************/
    .student-confirm-password-reset-container {
        #close-screen-button {
            position: absolute;
            left: 21%;
            top: 52%;
            width: 25%;
            height: 10%;
            border: none;
            outline: none;
            background: url(../media/login/btn-ok.png);
            background-size: contain;
            background-repeat: no-repeat;

            &:hover,
            &:active,
            &:focus,
            &:active:focus {
                background: url(../media/login/btn-ok-hover.png);
                background-size: contain;
                background-repeat: no-repeat;
                border: none;
                outline: none;
            }
        }
    }


    @media (min-width: $device-max-break + (($monitor-max-break - $device-max-break)/2)) and (max-width: $monitor-max-break) {
/********************
shared
********************/
        .login-container,
        .forgot-password-container {
            .login-form,
            .forgot-password-form {
                .signup-prompt {
                    width: 117%;

                    h2 {
                        font-size: 1.25rem;
                    }

                    p {
                        font-size: .65rem;
                    }
                }
            }

/********************
login tab
********************/
            .login-content {
                .header {
                    top: 12%;
                }
            }

            .login-form {
                .form-group {
                    margin: $standard 0;
                }

                #login-button {
                    top: 118%;
                }

                .forgot-password-link {
                    top: 81%;
                }

                .signup-prompt {
                    top: 117%;
                }
            }

/********************
forgot password tab
********************/
            .forgot-password-form {
                p.option-label {
                    font-size: 1.25rem;
                }

                #forgot-password-button {
                    top: 130%;
                }

                .signup-prompt {
                    top: 129%;
                }

                .form-group:not(:first-of-type),
                .radio {
                    span {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    @media (min-width: $device-max-break) and (max-width: $device-max-break + (($monitor-max-break - $device-max-break)/2)) {
/********************
shared
********************/
        .login-container,
        .forgot-password-container {
            .login-form,
            .forgot-password-form {
                margin: 13% 0 0 2%;

                .form-group {
                    margin: 0;
                }

                label,
                p.option-label {
                    font-size: 1rem;
                }

                input {
                    height: 36px;
                    font-size: 1.25rem;
                }

                .forgot-password-link {
                    font-size: .85rem;
                    top: 79%;
                }

                .signup-prompt {
                    top: 125%;
                    width: 125%;

                    h2 {
                        font-size: 1.25rem;
                    }

                    p {
                        font-size: .65rem;
                    }
                }

                #forgot-password-button {
                    top: 131%;
                }
            }

/********************
login tab
********************/
            .login-content {
                .header {
                    height: 15%;
                    top: 18%;
                }
            }

/********************
forgot password tab
********************/
            .forgot-password-content {
                .header {
                    height: 13%;
                    top: 14%;
                }
            }

            .forgot-password-form {
                .form-group:not(:first-of-type),
                .radio {
                    span {
                        font-size: 1rem;
                    }
                }

                p.option-label {
                    margin-top: $standard;
                }
            }
        }
    }

    @media (min-width: $device-portrait-break + (($device-max-break - $device-portrait-break)/2)) and (max-width: $device-max-break) {
/********************
shared
********************/
        .login-container,
        .forgot-password-container {
            .login-form,
            .forgot-password-form {
                margin: 13% 0 0 2%;

                .form-group {
                    margin: 0;
                }

                label,
                p.option-label {
                    font-size: .85rem;
                }

                input {
                    height: 28px;
                    font-size: 1rem;
                    border: 2px dashed $cmwn-white;
                }

                .forgot-password-link {
                    font-size: .75rem;
                    top: 81%;
                }

                .signup-prompt {
                    top: 127%;
                    width: 125%;

                    h2 {
                        font-size: .85rem;
                    }

                    p {
                        font-size: .5rem;
                    }
                }

                #forgot-password-button {
                    top: 124%;
                }
            }

/********************
login tab
********************/
            .login-content {
                .header {
                    top: 16%;
                }
            }

/********************
forgot password tab
********************/
            .forgot-password-content {
                .header {
                    height: 13%;
                    top: 16%;
                }
            }

            .forgot-password-form {
                .form-group:not(:first-of-type),
                .radio {
                    span {
                        font-size: .75rem;
                        top: 9px;
                    }
                }

                p.option-label {
                    margin-top: $standard;
                }

                .signup-prompt {
                    top: 120%;
                }
            }
        }
    }

    @media (min-width: $device-portrait-break) and (max-width: $device-portrait-break + (($device-max-break - $device-portrait-break)/2) ) {
/********************
shared
********************/
        .login-container,
        .forgot-password-container {
            .login-form,
            .forgot-password-form {
                margin: 13% 0 0 2%;

                .form-group {
                    margin: 0;
                }

                label,
                p.option-label {
                    font-size: .75rem;
                }

                input {
                    height: 25px;
                    font-size: .75rem;
                    border: 2px dashed $cmwn-white;
                }

                #login-button {
                    top: 120%;
                }

                .forgot-password-link {
                    font-size: .65rem;
                    top: 80%;
                }

                .signup-prompt {
                    top: 122%;

                    h2 {
                        font-size: .8rem;
                        display: inline;
                    }

                    p {
                        display: none;
                    }

                    a.mobile {
                        font-size: .5rem;
                        display: inline-block;
                        color: $cmwn-white;
                    }
                }

                #forgot-password-button {
                    top: 110%;
                }
            }

/********************
login tab
********************/
            .login-content {
                .header {
                    top: 16%;
                }
            }

/********************
forgot password tab
********************/
            .forgot-password-content {
                .header {
                    height: 13%;
                    top: 16%;
                }
            }

            .form-group:first-of-type:hover:before {
                top: 10%;
            }

            .forgot-password-form {
                .form-group:not(:first-of-type),
                .radio {
                    span {
                        font-size: .45rem;
                        top: 7px;
                    }
                }

                p.option-label {
                    margin-top: $standard;
                }

                .signup-prompt {
                    top: 111%;
                }
            }
        }
    }

    @media (max-width: $device-portrait-break) {
/********************
shared
********************/
        .login-tab,
        .forgot-password-tab {
            height: 90%;

            &.bkg-1,
            &.bkg-2 {
                background: $cmwn-blue;
            }
        }

        .login-container,
        .forgot-password-container {
            background: none;
            left: 0;
            top: 0;
            transform: none;
            padding-top: 0;
            width: 100%;
            height: 100%;

            .login-content,
            .forgot-password-content {
                height: 100%;
                padding: 5%;
            }

            .login-form,
            .forgot-password-form {
                margin: 25% 0 0 0;
                width: 100%;

                .form-group {
                    margin: 0;
                }

                label {
                    font-size: 2rem;
                }

                input {
                    height: 50px;
                    font-size: 1.5rem;
                    border: 2px dashed $cmwn-white;
                }

                #login-button {
                    top: 150%;
                    width: 75%;
                    height: 36%;
                }

                .forgot-password-link {
                    font-size: 1.5rem;
                    top: 108%;
                    left: 0;
                }

                .signup-prompt {
                    top: 200%;
                    left: 0;
                    width: 100%;

                    h2 {
                        font-size: 1.5rem;
                        display: inline;
                    }

                    p {
                        display: none;
                    }

                    a.mobile {
                        font-size: 1rem;
                        display: inline;
                        color: $cmwn-white;
                        white-space: nowrap;
                    }
                }

                #forgot-password-button {
                    top: 125%;
                    width: 75%;
                }
            }

/********************
login tab
********************/
            .login-content .header {
                top: 5%;
                width: 50%;
                left: 50%;
                transform: translateX(-50%);
            }

/********************
forgot password tab
********************/
            .forgot-password-content .header {
                top: 7%;
                width: 90%;
                left: 50%;
                transform: translateX(-50%);
            }

            .forgot-password-form {
                .form-group:last-of-type:hover:before {
                    top: 40%;
                    left: 0;
                }

                .form-group:not(:first-of-type),
                .radio {
                    display: block;
                    text-align: center;

                    span {
                        font-size: 2rem;
                        top: 7px;
                    }
                }

                p.option-label {
                    margin: $standard 0 0 0;
                }

                .signup-prompt {
                    top: 155%;
                }
            }
        }
    }
}

#cmwn-app .login .global-footer { //override default border style
    border: none;
}


