@import 'variables';

.newsfeed {

    .panel-body {
        padding: 0;
        background-color: #FBFBFB;
    }

    .feed-item {
        margin: $standard;
        background-color: $cmwn-white;
        box-shadow: 5px 5px 8px -8px $cmwn-medium-gray;

        a:hover {
            text-decoration: none;
        }

        .content {
            padding-bottom: 0;

            .author {
                .name {
                    font-family: $cmwn-jade-font;
                    font-size: 1.75rem;
                    color: $cmwn-blue;
                    margin-top: 35px;
                    position: absolute;
                }

                .avatar {
                    width: 120px;
                    height: 100px;
                    overflow: hidden;
                    position: relative;
                    display: inline-block;

                    img {
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        margin: 0;

                        &.error {
                            content: url(../media/profile_transparent.png);
                        }
                    }
                }
            }

            .meta {
                padding: 0 $standard;
                font-size: 16px;
            }
        }

        .banner {
            position: relative;
            width: 50%;
            margin: 0 0 $standard 0;
            left: 25%;

            &.error {
                content: url(../media/flip-placeholder-white.png);
            }
        }

        @media (min-width: $profile-width) and (max-width: $device-portrait-break) {
            .content {
                .author {
                    .name {
                        font-size: 1.25rem;
                        margin-top: 30px;
                    }

                    .avatar {
                        width: 100px;
                        height: 80px;
                    }
                }

                .meta {
                    padding: 0 $standard;
                    font-size: 12px;
                }
            }

            .banner {
                width: 100%;
                left: 0;
            }
        }

        @media (min-width: $device-portrait-break) and (max-width: $monitor-max-break) {
            .banner {
                width: 70%;
                left: 15%;
            }
        }
    }
}
