@import 'variables';

.suggested-friends {
    .placeholder {
        text-align: center;
    }

    .flipboard .panel-body {
        text-align: justify;
    }

    .flag-container {
        display: inline-block;
        width: 33.3%;

        .btn-toolbar {
            margin: 0;
        }
    }

    .flag-button {
        position: absolute;
        right: 6%;
        z-index: 1;
    }

    .user-card {
        position: relative;
        text-align: center;

        &:hover,
        &:focus {
            .overlay {
                opacity: 1;
            }
        }
    }

    .overlay {
        position: absolute;
        transition: opacity .5s ease-in-out;
        opacity: 0;
        width: 100%;
        height: 90%;
        text-align: center;
    }

    .prompts {
        position: absolute;
        bottom: 10%;
        width: 100%;
        white-space: pre-wrap;

        .btn,
        .request-status {
            position: relative;
            top: 30%;
            margin: 10% 0 0;
            float: left;
            clear: both;
        }

        .btn {
            left: 50%;
            transform: translateX(-50%);
            transition: opacity 1s ease-in-out;

            &.nohover,
            &.nohover:hover,
            &.nohover:focus {
                background-color: $cmwn-blue;
            }
        }

        .request-status {
            text-transform: uppercase;
            color: $cmwn-white;
            font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
            font-size: 18px;
            float: none;
        }

        .disabled {
            display: none;
        }
    }


    .avatar {
        width: 100%;
    }

    @media (min-width: 747px) and (max-width: 826px) {
        .prompts {
            .btn,
            .request-status {
                font-size: 15px;
            }
        }
    }

    @media (min-width: 667px) and (max-width: 747px) {
        .flag-container {
            width: 50%;
        }
    }

    @media (min-width: 414px) and (max-width: 667px) {
        .prompts {
            .btn,
            .request-status {
                font-size: 11px;
            }
        }
    }

    @media (max-width: 414px) {
        .flag-container {
            width: 50%;
        }

        .overlay {
            height: 89%;
        }

        .prompts {
            .btn,
            .request-status {
                font-size: 12px;
            }
        }
    }
}
