.suggestedfriends {
    td img {
        width: 200px;
        max-width: 200px;
    }

    .overlay {
        text-align: center;
    }

    .btn.standard {
        margin: 5px 0;
        width: 100%;
    }

    .hidden {
        visibility: hidden;
    }

    .flip {

        img {
            max-width: 200px;
        }
    }
}
