.profile {

    .flip {
        flex-basis: 280px;
        border: 1px solid #eeeeee;
        border-collapse: collapse;

        object {
            display: inline-block;
            background: #fff;
            border: 1px solid black;
            border-collapse: collapse;
        }
    }
}
