@import 'variables';

.god-mode-flips {
    #flips-god-mode { // scss-lint:disable IdSelector
        .manage-flip-panel .panel-body {
            display: inline-block;
            position: relative;
            padding-top: 200px;
        }

        .create-flip {
            position: absolute;
            top: 0;
            left: 0;
            margin-right: 75%;
            margin-bottom: 30px;

            .create-btn {
                position: absolute;
                left: 0;
            }

            .active-flip-title {
                margin-top: 170px;
                width: 180px;
                color: $cmwn-medium-green;
                font-family: $cmwn-jade-font;
                font-size: 1.75rem;
            }
        }

        .edit-flip {
            position: relative;
            margin-top: 30px;
            margin-bottom: 20px;
            padding-bottom: 270px;
            width: 25%;
            height: 120px;

            .flip-image {
                position: absolute;
                bottom: 0;
                left: 0;
                padding-bottom: 25px;
                width: 100%;
                vertical-align: middle;
            }

            .flip-title {
                position: relative;
                bottom: 0;
                margin-top: 250px;
                padding-left: 15px;
                color: $cmwn-blue;
                font-family: $cmwn-jade-font;
            }
        }
    }
}

.flip-modal {
    .modal-content {
        margin-top: 200px;
    }

    .modal-dialog {
        position: relative;
    }

    .flip-close {
        position: absolute;
        top: 4%;
        left: 96%;
        cursor: pointer;
        text-decoration: none;
        color: $cmwn-purple;
        font-family: $cmwn-jade-font;
        font-weight: bold;
    }
}
