@import 'variables';

#god-mode-games { // scss-lint:disable IdSelector
    // scss-lint:enable IdSelector
    .heading {
        color: $cmwn-purple;
        font-family: $cmwn-jade-font;
        font-size: 1.75rem;
    }

    .item {
        position: relative;
        width: 100%;
        // scss-lint:disable SelectorFormat, SelectorDepth, NestingDepth
        .item-panel {
            width: 100%;

            &.open {
                .panel-body {
                    max-height: 1000px; // larger than panel will be
                }
            }

            &.new-game {
                background-color: $cmwn-off-white;
            }
        }

        .panel-body {
            transition: max-height .5s ease-in-out;
            padding: 0 $standard;
            height: auto;
            max-height: 0;
            overflow: hidden;
            text-align: center;

            .game-form {
                text-align: left;
            }

            .zipcode {
                display: flex;

                .control-label {
                    position: relative;
                    width: 15%;
                    color: $cmwn-form-valid-green;
                }

                .ReactTags__tags {
                    position: relative;
                    width: 85%;

                    .ReactTags__selected {
                        display: flex;
                        margin-bottom: 1px;
                        padding-bottom: 15px;
                        flex-wrap: wrap;
                    }

                    .ReactTags__tag {
                        margin: 1%;
                        background: $cmwn-light-blue;
                        padding-right: 1%;
                        padding-left: 1%;
                    }

                    .ReactTags__tagInput {
                        margin-left: 1%;
                        width: 40%;
                    }

                    .ReactTags__tagInputField {
                        width: 100%;
                    }
                }
            }
        }

        .panel-heading {
            background-color: $cmwn-purple;
        }

        form {
            margin: $standard;
            width: 80%;
        }

        .text,
        .textarea {
            width: 100%;
        }

        .textarea {
            height: 5em;
        }

        .edit-btn,
        .save-btn,
        .reset-btn,
        .delete-btn,
        .create-btn {
            box-shadow: none;
        }

        .edit-btn {
            position: absolute;
            top: 0;
            right: 0;
            margin: 20px;
        }

        .save-btn,
        .reset-btn,
        .delete-btn,
        .create-btn {
            margin: $standard;
        }
    }

    .save-all-btn,
    .reset-all-btn {
        position: relative;
        left: 2 * $standard;
        vertical-align: initial;

        &:nth-of-type(1) {
            margin: $standard;
            margin-top: 2 * $standard;
        }

        &:nth-of-type(2) {
            margin: $standard;
            margin-bottom: 2 * $standard;
        }
    }
}

