@import '../../variables';

.god-mode-games {

    .item {
        position: relative;
        width: 100%;

        .item-panel {
            width: 100%;

            &.open {
                .panel-body {
                    max-height: 900px; // larger than panel will be
                }
            }
        }

        .panel-body {
            height: auto;
            max-height: 0px;
            transition: max-height 0.5s ease-in-out;
            text-align: center;
            overflow: hidden;
            padding: 0 $standard;
        }

        .form {
            width: 80%;
            margin: $standard;
        }

        .text,
        .textarea {
            width: 100%;
        }

        .textarea {
            height: 5em;
        }

        .edit-btn,
        .save-btn {
            box-shadow: none;
        }

        .edit-btn {
            position: absolute;
            top: 0;
            right: 0;
            margin: 20px;
        }
    
        .save-btn {
            margin: $standard;
        }
    }

    .save-all-btn {
        position: relative;
        left: 2*$standard;

        &:nth-of-type(1) {
            margin: 2*$standard 0 $standard 0;
        }

        &:nth-of-type(2) {
            margin: $standard 0 2*$standard 0;
        }
    }
}
