$datepicker-color: #3c763d;

.dropdown-datepicker {
    label {
        color: $datepicker-color;
  }

    .birthday-input {
        border-color: $datepicker-color;
    }

    .birthday-input:focus {
        box-shadow: 0 0 5px $datepicker-color;
    }
}

