@import 'variables';

.featured-games {
    position: relative;

    .slide {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            margin: auto;
        }
    }

    .background {
    }

    .overlay {
        visibility: hidden;
        position: absolute;
    }

    .labels {
        position: absolute;
        bottom: 0;

        span {
            background: $cmwn-white;
            max-width: 45%;
            display: block;
            margin: 0 0 15px 30px;
            padding: 5px;
        }
    }

    .featured-flag {
        position: absolute;
    }

    .control-sweater {
    }

    .slide-container {
        display: flex;
        width: calc(100% - $standard * 4px);
        padding-top: 30%;
        overflow: hidden;
        float: left;
    }

    .left {
        width: $standard * 2;
    }

    .right {
        width: $standard * 2;
    }

    .slick-prev,
    .slick-next {
        z-index: 2;
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
    }
}

