@import 'variables';

.flag-form-modal {
    .modal-content {
        margin-top: 40%;
    }

    .modal-body {
        border-radius: 6px;
        background: url('../media/flag/form-bkg.png');
        background-repeat: no-repeat;
        background-position: -86px -11px;
        background-size: 120%;
        width: 100%;
        color: $cmwn-white;
    }

    .flag-form {
        margin: -2% 2% 2%;

        .confirm,
        .cancel {
            position: relative;
            width: 24%;
        }

        .confirm {
            margin: 4% 4% -2% 48%;
        }

        .cancel {
            margin: 4% 0 -2%;
        }
    }

    .form-group {
        position: relative;
        margin: 0;
    }

    h1 {
        font-family: $source-sans-pro;
        font-size: 30px;
    }

    .radio label {
        width: 100%;
    }

    input {
        font-family: $cmwn-jade-font;
    }

    .radio-offensive,
    .radio-inappropriate {
        display: none;
        position: absolute;

        ~ span {
            padding-left: 5%;
            width: 100%;
            font-family: $cmwn-jade-font;
            font-size: 22px;
        }

        ~ span:before {
            position: absolute;
            left: 0%;
            transition: border .25s linear;
            border: 2px dashed $cmwn-white;
            border-radius: 100%;
            background-color: $cmwn-blue-light;
            width: 30px;
            height: 30px;
            content: '';
        }

    }

    .control-label {
        padding-left: 20px;

        span {
            padding-left: 11%;
            width: 100%;
            font-family: $cmwn-jade-font;
            font-size: 22px;
        }

        span:before {
            position: absolute;
            left: 0;
            transition: border .25s linear;
            border: 2px dashed $cmwn-white;
            border-radius: 100%;
            background-color: $cmwn-blue-light;
            width: 30px;
            height: 30px;
            content: '';
        }
    }

    .input-other {
        margin-top: 10px;
        margin-left: 48px;
        border: 2px dashed $cmwn-white;
        border-radius: 0;
        background-color: $cmwn-dark-blue;
        width: 55%;
        height: 100px;

        &::-webkit-input-placeholder {
            color: $cmwn-white;
        }
    }


    .offensive .radio-offensive ~ span:before,
    .inappropriate .radio-inappropriate ~ span:before,
    .other .control-label span:before {
        background-color: $cmwn-white;
    }

}

@media (min-width: $device-portrait-break + (($device-max-break - $device-portrait-break)/2)) and (max-width: $device-max-break) {
    .flag-form-modal {
        .flag-form {
            .confirm {
                margin: 5% 4% -2% 48%;
            }

            .cancel {
                margin: 5% 0 -2%;
            }
        }

        h1 {
            font-size: 25px;
        }

        .radio-offensive,
        .radio-inappropriate {
            ~ span {
                padding-left: 3%;
                font-size: 17px;
            }

            ~ span:before {
                top: 10%;
                border: 1px dashed $cmwn-white;
                width: 25px;
                height: 25px;
            }
        }

        .control-label {
            padding-left: 20px;

            span {
                padding-left: 15px;
                font-size: 17px;
            }

            span:before {
                position: absolute;
                top: 2%;
                left: 0;
                border: 1px dashed $cmwn-white;
                width: 25px;
                height: 25px;
            }
        }

        .input-other {
            margin-top: 5px;
            margin-left: 35px;
            height: 90px;
        }
    }
}

@media (min-width: $device-portrait-break) and (max-width: $device-portrait-break + (($device-max-break - $device-portrait-break)/2)) {
    .flag-form-modal {
        .modal-body {
            background-position: -70px -10px;
            background-size: 123%;
        }

        .flag-form {
            margin: -5% 2% 2%;

            .confirm {
                margin: 3% 4% -5% 48%;
            }

            .cancel {
                margin: 4% 0 -4%;
            }
        }

        h1 {
            font-size: 20px;
        }

        .radio-offensive,
        .radio-inappropriate {
            ~ span {
                padding-left: 4%;
                font-size: 12px;
            }

            ~ span:before {
                top: 25%;
                border: 1px dashed $cmwn-white;
                width: 20px;
                height: 20px;
            }
        }

        .control-label {
            padding-left: 20px;

            span {
                padding-left: 12%;
                font-size: 12px;
            }

            span:before {
                position: absolute;
                top: 5%;
                left: 0;
                border: 1px dashed $cmwn-white;
                width: 20px;
                height: 20px;
            }
        }

        .input-other {
            margin-top: 5px;
            margin-left: 38px;
            height: 80px;
        }
    }
}

