@import 'variables';

$overlay-color: #fff;

.flipboard {

    img {
        vertical-align: initial;
    }

    .panel-body {

        & > * { // scss-lint:disable UnnecessaryParentReference
            display: inline-block;
            padding: $standard;
            text-align: center;
        }
        // nth-child styles for games tile
        div:nth-child(8n + 1),
        div:nth-child(8n) {
            .overlay {
                background-color: $cmwn-medium-green;
            }
        }

        div:nth-child(8n + 2),
        div:nth-child(8n + 3),
        div:nth-child(8n + 6),
        div:nth-child(8n + 7) {
            .overlay {
                background-color: $cmwn-medium-purple;
            }
        }

        div:nth-child(8n + 4),
        div:nth-child(8n + 5) {
            .overlay {
                background-color: $cmwn-medium-blue;
            }
        }
    }

    .flip {
        margin: auto;

        > a {
            margin: 0 auto;
            max-width: $flip-standard-size;
            font-weight: bold;

            .link-text {
                margin-bottom: 0;
            }
        }

        &.fill {
            margin-top: 0;
            margin-bottom: 0;
            border: 0;
            padding: 5px;
            width: 100%;
            max-width: 50%;

            .item,
            img,
            .overlay,
            object {
                z-index: 3;
                margin: auto;
                width: 100%;
                max-width: $max-flip-size;
                max-height: 236px;
            }
        }

        .item {
            position: relative;
            margin: auto;
            max-width: $flip-standard-size;

            .heading,
            .text,
            .play {
                display: block;
                padding-bottom: $standard;
            }

            .heading,
            .play {
                font-weight: bold;
            }

            .text {
                font-size: 1rem;
            }

            .heading {
                font-size: 1.4rem;
            }

            .play {
                text-transform: uppercase;
                text-decoration: underline;
                font-size: 1.1rem;
            }
        }

        .user-flips {
            color: $copy-medium-gray;
            font-weight: bold;
        }

        .overlay {
            display: table-caption;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: opacity .5s;
            opacity: 0;
            margin: auto;
            padding: $standard;
            max-width: $flip-standard-size;
            overflow: hidden;
            text-align: left;
            color: $overlay-color;

            &:hover,
            &:focus,
            &:active {
                opacity: 1;
                overflow: hidden;
            }

            .relwrap {
                position: relative;
                height: 100%;
            }

            .abswrap {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }

        p {
            margin: 5px auto 10px;
            max-width: 200px;
        }
    }
}
