@import 'variables';

.flipboard {

    .panel-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: initial;

        & > * {
            padding: 15px;
            flex-grow: 1;
            flex-shrink: 0;
            text-align: center;
            padding: $standard;
        }
    }
}
