@import 'variables';

.flipcase {
    padding: 0;
    width: 100%;

    .header {
        display: none;
        position: absolute;
        width: 100%;
    }

    .single-flip {
        display: inline-block;
        position: relative;
        z-index: 1;
        width: 50%;
        height: 160px;
        overflow: hidden;

        img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }

    @media (max-width: $device-portrait-break) {
        .single-flip {
            width: 33%;
            height: 210px;
        }
    }

    @media (min-width: $device-portrait-break) and (max-width: $device-portrait-break + ($device-max-break - $device-portrait-break) / 2) {
        .single-flip {
            width: 33%;
            height: 190px;
        }
    }

    @media (min-width: $device-portrait-break + ($device-max-break - $device-portrait-break) / 2) and (max-width: $device-max-break) {
        .single-flip {
            width: 33%;
            height: 250px;
        }
    }

    @media (min-width: $device-max-break) and (max-width: $monitor-max-break) {
        .single-flip {
            width: 25%;
            height: 210px;
        }
    }

    @media (min-width: $monitor-max-break) and (max-width: $ultrawide-min-break * 2) {
        .single-flip {
            width: 20%;
            height: 170px;

            img {
                max-width: 150px;
            }
        }
    }

    a {
        display: inline-block;
        position: relative;
    }

    .partial {
        display: inline-block;
        position: absolute;
        left: 0;
        background: $cmwn-white;
        overflow: hidden;
    }

    &.trophycase .panel-body {
        white-space: nowrap;
        overflow-x: auto;
    }

    &.header {
        .header {
            display: inline-block;
            font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
            font-size: 1.25rem;

            strong {
                color: $cmwn-purple;
                font-size: 2rem;
            }
        }
    }
}
