@import 'variables';

.flipboard {

    .panel-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: initial;

        & > * {
            padding: 15px;
            flex-grow: 1;
            flex-shrink: 0;
            text-align: center;
            padding: $standard;
        }
    }

    .flip > a {
        font-weight: bold;
        max-width: 200px;
        margin: 0 auto;

        .linkText {
            margin-bottom: 0;
        }
    }

    .flip {
        
        .userFlips {
            color: $copy-medium-gray;
            font-weight: bold;
        }
    }
}
