@import 'variables';

.flipboard {

     img {
         vertical-align: initial;
     }

    .panel-body {

        & > * {
            display: inline-block;
            padding: 15px;
            text-align: center;
            padding: $standard;
        }
    }

    .flip > a {
        font-weight: bold;
        max-width: $flip-standard-size;
        margin: 0 auto;

        .linkText {
            margin-bottom: 0;
        }
    }

    .flip {
        margin: auto;
 
        &.fill {
            padding: 5px;
            border: 0;
            max-width: 50%;
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;

            .item, img, .overlay, object {
                width: 100%;
                max-width: $max-flip-size;
                max-height: 236px;
                margin: auto;
                z-index: 3;
            }
        }
        
        .item {
            max-width: $flip-standard-size;
            position: relative;
            margin: auto;

            .heading, .text, .play{
                display: block;
                padding-bottom: $standard;
            }

            .heading, .play {
                font-weight: bold;
            }

            .text {
                font-size: 1rem;
            }

            .heading {
                font-size: 1.4rem;
            }

            .play {
                font-size: 1.1rem;
                text-decoration: underline;
                text-transform: uppercase;
            }
        }

        .userFlips {
            color: $copy-medium-gray;
            font-weight: bold;
        }

        .overlay {
            max-width: $flip-standard-size;
            margin: auto;
            color: #ffffff;
            opacity: 0;
            background: rgba($cmwn-blue, 0.6);
            position: absolute;
            overflow: hidden;
            top: 0;
            bottom: 5px;
            left: 0;
            right: 0;
            display: table-caption;
            padding: $standard;
            text-align: left;
            transition: opacity 0.5s;

            &:hover {
                opacity: 1;
            }
            
            .relwrap {
                position: relative;
                height: 100%;
            }

            .abswrap {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }

        p {
            max-width: 200px;
            margin: 5px auto 10px auto;
        }
    }
}
