@import '../variables';

// scss-lint:disable QualifyingElement, ImportantRule
body.fullscreen {
    .game-modal {
        .modal-dialog {
            margin: 0;
            background: $cmwn-black;
            padding: 0;
            width: 100vw;
            height: 100vh;

            .modal-content {
                position: static;
                top: 0;
                left: 0;
                transform: translateX(0);
            }

            .modal-body {
                background: $cmwn-black;
            }

            .modal-close {
                display: none;
            }
        }
    }

    .menu {
        display: none !important; //MPR: we all have moments of weakness
    }

}
// scss-lint:enable QualifyingElement

body:fullscreen .global-header {
    display: none;
}

body:fullscreen .game {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-bootstrap + 4;
    background: $cmwn-black;
    width: 100vw;
    height: 100vh;

    .btn {
        display: none;
    }
}

// scss-lint:disable IdSelector
body:fullscreen #cmwn-app .sweater,
body:fullscreen #game-modal {
    background: $cmwn-black;
}
// scss-lint:enable IdSelector

html body:fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
    height: 100%;

    .modal-content,
    .modal-body,
    .modal-game {
        position: static;
        transform: none;
        background: $cmwn-black;
    }

    a {
        display: none;
    }
}

body:fullscreen .game-frame-wrapper {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
    padding: 0;
    width: 100vw;
    max-width: 177.777777778vh;
    height: 100%;
    max-height: 56.25vw;

    ~ button,
    ~ .game-buttons {
        display: none;
    }
}

@media (max-width: $device-max-break) and (orientation: landscape) {
    body:fullscreen .game-frame-wrapper {
        left: 0%;
        margin: 0;
        padding: 0;

        &.fullscreen {
            .game-frame {
                transform: translateX(0);
                margin: 0;
            }
        }
    }
}

.game {
    margin-bottom: 50px;

    .game-frame-wrapper {
        position: relative;
        //MPR, 1/26/17: padding is set relative to width. Do not change this or add a height
        padding-top: 56.26%;
        width: 100vw;
        max-width: 100%;
        text-align: center;

        &.fullscreen {
            position: fixed;
            top: 0;
            left: 0%;
            transform: translateY(-50%);
            margin-top: 50%;
            width: 100vw;
            max-width: calc(100vh * 1.77777777778);
            height: 100vh;
            max-height: calc(100vw * .5625);

            // scss-lint:disable SelectorDepth, NestingDepth
            ~ * {
                display: none;
            }
            // scss-lint:enable SelectorDepth, NestingDepth

            .game-frame {
                transform: translateX(-50%);
                margin-left: 50%;
            }

        }

        .game-frame {
            position: absolute;
            top: 0%;
            right: 0%;
            bottom: 0%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;

            // scss-lint:disable SelectorDepth, NestingDepth
            &.portrait {
                display: none;
            }
            // scss-lint:enable SelectorDepth, NestingDepth }
        }

        .overlay {
            display: none;
            position: absolute;
            top: 0%;
            right: 0%;
            bottom: 0%;
            left: 0%;
            z-index: $z-over-game;
            background-color: $cmwn-blue-dark;
            padding: $standard;
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            color: $cmwn-white;
            font-family: $cmwn-jade-font;
            font-size: $game-overlay-text;

            p {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 90%;
            }

            &.portrait {
                display: inline-block;

                // scss-lint:disable SelectorDepth, NestingDepth
                &.fullscreen {
                    position: fixed;
                    width: 100vw;
                    height: 100vh;
                }
                // scss-lint:enable SelectorDepth, NestingDepth }
            }
        }
    }

    .game-buttons {
        display: inline-block;
        position: relative;
        margin-top: $standard;
        width: 100vw;
        max-width: 100%;

        button {
            display: inline-block;
            margin-right: $standard;
        }

    }

    @media (max-width: $device-max-break) and (orientation: landscape) {

        .game-frame-wrapper {
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
            width: 100vw;
            max-width: calc(177.77778vh - 120px);
            height: 100vh;
            max-height: calc(56.53vw - 69px);

            &.fullscreen {
                left: 0;
                transform: translateX(0);
                z-index: 2;
                margin: 0;
                padding: 0;

                .game-frame {
                    transform: translateX(0);
                    margin: 0;
                }
            }
        }

        .game-buttons {
            left: 50%;
            transform: translateX(-50%);
            width: 138vmin;
        }

    }
}

