@import 'variables';

@mixin responsive-size-portrait() {
    // scss-lint:disable all
    width: $game-responsive-width-portrait-ie; // ie-fallback
    max-width: $game-responsive-width-portrait-ie; // ie-fallback
    height: $game-responsive-height-portrait-ie; // ie-fallback
    max-height: $game-responsive-height-portrait-ie; // ie-fallback
    width: $game-responsive-width-portrait;
    max-width: $game-responsive-width-portrait;
    height: $game-responsive-height-portrait;
    max-height: $game-responsive-height-portrait;
    // scss-lint:enable all
}

@mixin responsive-size-portrait-fullscreen() {
    // scss-lint:disable all
    position: fixed;
    width: $game-fullscreen-width-portrait-ie; // ie-fallback
    max-width: $game-fullscreen-width-portrait-ie; // ie-fallback
    height: $game-fullscreen-height-portrait-ie; // ie-fallback
    max-height: $game-fullscreen-height-portrait-ie; // ie-fallback
    width: $game-fullscreen-width-portrait;
    max-width: $game-fullscreen-width-portrait;
    height: $game-fullscreen-height-portrait;
    max-height: $game-fullscreen-height-portrait;
    // scss-lint:enable all
}

.game {
    padding-bottom: 35px;
    text-align: center;
}

.overlay {
    display: none;
}

@media (orientation: portrait) {

    iframe {
        @include responsive-size-portrait();

        &.portrait {
            display: none;
        }
    }

    .overlay.portrait {
        display: inline-block;
        padding: $standard;
        font-family: $cmwn-jade-font;
        font-size: $game-overlay-text;
        color: $cmwn-white;
        background-color: $cmwn-blue-dark;
        z-index: $z-over-game;
        @include responsive-size-portrait();

        &.fullscreen {
            padding-top: 40%;
            @include responsive-size-portrait-fullscreen();
        }
    }

    button {
        display: inline-block;
        bottom: $standard;
        float: left;
        margin-right: $standard;
    }

    .fullscreen {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $z-override;
        background: $cmwn-black;
        width: 105vw;
        height: 105vh;

        iframe {
            @include responsive-size-portrait-fullscreen();
        }

        .overlay.portrait {
            @include responsive-size-portrait-fullscreen();
        }

        button {
            display: none;
        }
    }
}

@media (orientation: landscape) {
    iframe {
        // scss-lint:disable all
        width: $game-responsive-width-landscape-ie; // ie-fallback
        height: $game-responsive-height-landscape-ie; // ie-fallback
        max-width: $game-fullscreen-width-portrait-ie; // ie-fallback
        max-height: $game-fullscreen-height-portrait-ie; // ie-fallback
        width: $game-responsive-width-landscape;
        height: $game-responsive-height-landscape;
        max-width: $game-responsive-width-max;
        max-height: $game-responsive-height-max;
        // scss-lint:enable all
    }

    .modal-game iframe {
        // scss-lint:disable all
        width: $game-responsive-width-landscape-ie; // ie-fallback
        height: $game-responsive-height-landscape-ie; // ie-fallback
        width: $game-responsive-width-landscape;
        max-width: $game-responsive-width-landscape;
        height: $game-responsive-height-landscape;
        max-height: $game-responsive-height-landscape;
        // scss-lint:enable all
    }

    button {
        display: inline-block;
        bottom: 15px;
        float: left;
        z-index: $z-bootstrap;
        margin-right: $standard;
    }

    .fullscreen {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $z-override;
        background: $cmwn-black;
        width: 105vw;
        height: 105vh;

        iframe {
            // scss-lint:disable all
            position: fixed;
            width: $game-fullscreen-width-landscape-ie; // ie-fallback
            height: $game-fullscreen-height-landscape-ie; // ie-fallback
            max-width: $game-fullscreen-width-landscape-ie; // ie-fallback
            max-height: $game-fullscreen-height-landscape-ie; // ie-fallback
            width: $game-fullscreen-width-landscape;
            height: $game-fullscreen-height-landscape;
            max-width: $game-fullscreen-width-landscape;
            max-height: $game-fullscreen-height-landscape;
            // scss-lint:enable all
        }

        button {
            display: none;
        }
    }

    @media only screen and (min-device-width: $iphone2g-4s-min-width) and (max-device-width: $iphone2g-4s-max-width) {
        .fullscreen {
            iframe {
                height: $game-fullscreen-height-landscape-iphone2g-4s;
                max-height: $game-fullscreen-height-landscape-iphone2g-4s;
            }
        }
    }

    @media only screen and (min-device-width: $iphone5-min-width) and (max-device-width: $iphone5-max-width) {
        .fullscreen {
            iframe {
                height: $game-fullscreen-height-landscape-iphone5;
                max-height: $game-fullscreen-height-landscape-iphone5;
            }
        }
    }

    @media only screen and (min-device-width: $iphone6-min-width) and (max-device-width: $iphone6-max-width) {
        .fullscreen {
            iframe {
                height: $game-fullscreen-height-landscape-iphone6;
                max-height: $game-fullscreen-height-landscape-iphone6;
            }
        }
    }

    @media only screen and (min-device-width: $iphone6plus-min-width) and (max-device-width: $iphone6plus-max-width) {
        .fullscreen {
            iframe {
                height: $game-fullscreen-height-landscape-iphone6plus;
                max-height: $game-fullscreen-height-landscape-iphone6plus;
            }
        }
    }
}
