@import 'variables';

body.fullscreen .game-modal {
    .modal-dialog {
        background: $cmwn-black;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;

        .modal-content {
            position: static;
            top: 0;
            left: 0;
            transform: translateX(0);

            .modal-body {
                background: $cmwn-black;
            }
        }
    }


}

body:fullscreen .global-header {
    display: none;
}

body:fullscreen .game {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-bootstrap + 4;
    background: $cmwn-black;
    width: 100vw;
    height: 100vh;
}

// scss-lint:disable IdSelector
body:fullscreen #cmwn-app .sweater,
body:fullscreen #game-modal {
    background: $cmwn-black;
}
// scss-lint:enable IdSelector

html body:fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
    height: 100%;

    .modal-content,
    .modal-body,
    .modal-game {
        position: static;
        transform: none;
        background: $cmwn-black;
    }

    a {
        display: none;
    }
}

body:fullscreen .game-frame-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    margin: 0;
    width: 100%;
    height: 100%;
    max-height: 56.25vw;

    .game-frame {
        max-width: 100vw;
        max-height: 56.25vw;
    }

    ~ button {
        display: none;
    }
}

.game {
    margin-bottom: 50px;

    .game-frame-wrapper {
        position: relative;
        padding-bottom: 56.22%;
        width: 100vw;
        max-width: 100%;
        text-align: center;

        .overlay {
            display: none;
            position: absolute;
            top: 0%;
            right: 0%;
            bottom: 0%;
            left: 0%;
            z-index: $z-over-game;
            background-color: $cmwn-blue-dark;
            padding: $standard;
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            color: $cmwn-white;
            font-family: $cmwn-jade-font;
            font-size: $game-overlay-text;

            p {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 90%;
            }

            &.portrait {
                display: inline-block;

                // scss-lint:disable SelectorDepth, NestingDepth
                &.fullscreen {
                    position: fixed;
                    width: 100vw;
                    height: 100vh;
                }
                // scss-lint:enable SelectorDepth, NestingDepth
            }
        }

        .game-frame {
            position: absolute;
            top: 0%;
            right: 0%;
            bottom: 0%;
            left: 0%;
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;

            &.portrait {
                display: none;
            }
        }
    }

    .game-buttons {
        display: inline-block;
        position: relative;
        margin-top: $standard;
        width: 100vw;
        max-width: 100%;

        button {
            display: inline-block;
            margin-right: $standard;
        }

        &.fullscreen {
            position: fixed;
            top: 0;
            left: 50%;
            width: 100vw;
            height: 100vh;
            max-width: calc(100vh * 1.77777777778);
            max-height: calc(100vw * 0.5625);

            & ~ * {
                display: none;
            }
        }
    }

    @media (max-width: $device-max-break) and (orientation: landscape) {

        .game-frame-wrapper {
            left: 50%;
            width: 138vmin;
            padding-bottom: 77vmin;
            transform: translateX(-50%);
        }

        .game-buttons {
            left: 50%;
            width: 138vmin;
            transform: translateX(-50%);
        }

    }
}
