@import 'variables';

.wrapper {
    margin-bottom: 50px;

    .game {
        position: relative;
        padding-bottom: 56.25%;
        width: 100vw;
        max-width: 100%;
        text-align: center;

        .overlay {
            display: none;
            position: absolute;
            top: 0%;
            right: 0%;
            bottom: 0%;
            left: 0%;
            z-index: $z-over-game;
            background-color: $cmwn-blue-dark;
            padding: $standard;
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            color: $cmwn-white;
            font-family: $cmwn-jade-font;
            font-size: $game-overlay-text;

            p {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            &.portrait {
                display: inline-block;

                // scss-lint:disable SelectorDepth, NestingDepth
                &.fullscreen {
                    position: fixed;
                    padding-top: 50%;
                    width: 100vw;
                    height: 100vh;
                }
                // scss-lint:enable SelectorDepth, NestingDepth
            }
        }

        .game-frame {
            position: absolute;
            top: 0%;
            right: 0%;
            bottom: 0%;
            left: 0%;
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;

            &.portrait {
                display: none;
            }
        }

        ~ button {
            display: inline-block;
            bottom: $standard;
            float: left;
            margin-top: $standard;
            margin-right: $standard;
        }

        &.fullscreen {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: $z-override;
            margin-bottom: 0;
            background: $cmwn-black;
            padding-bottom: 0;
            width: 100vw;
            height: 100vh;

            .game-frame {
                top: 50%;
                transform: translateY(-50%);
                width: 100vw;
                height: 56.25vw;
            }

            .overlay.portrait {
                width: 100vw;
                max-width: 100vw;
                height: 56.25vw;
                max-height: 56.25vw;
            }

            ~ button {
                display: none;
            }
        }
    }
}
