@import 'variables';

.game {
    padding-bottom: 35px;
    text-align: center;

    @media (orientation: portrait) {
        iframe {
            width: $game-responsive-width-portrait;
            height: $game-responsive-height-portrait;
            display: block;
            margin: $standard auto;
        }

        button {
            bottom: $standard;
            display: inline-block;
            float: left;
            margin-right: $standard;
        }

        &.fullscreen {
            z-index: $z-override;
            position: fixed;
            width: 105vw;
            height: 105vh;
            background: black;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            iframe {
                z-index: $z-override;
                position: fixed;
                width: $game-fullscreen-width-portrait;
                height: $game-fullscreen-height-portrait;
                transform: translateY(55%);
            }

            button {
                display: none;
            }
        }
    }

    @media (orientation: landscape) {
        iframe {
            width: $game-responsive-width-landscape;
            height: $game-responsive-height-landscape;
            display: block;
            margin: auto;
            margin-top: $standard;
            margin-bottom: $standard;
        }

        button {
            z-index: 1000;
            bottom: 15px;
            display: inline-block;
            float: left;
            margin-right: $standard;
        }

        &.fullscreen {
            z-index: $z-override;
            position: fixed;
            width: 105vw;
            height: 105vh;
            background: black;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            iframe {
                z-index: $z-override;
                position: fixed;
                width: $game-fullscreen-width-landscape;
                height: $game-fullscreen-height-landscape;
                top: -0.5vmin;
                margin: auto;
            }

            button {
                display: none;
            }
        }

        @media (max-device-width : $iphone5-width) {
            iframe {
                height: $game-fullscreen-height-landscape-mobile;
                top: -0.5vmin;
            }
        }
    }
}
