@import 'variables';

.game {
    padding-bottom: 35px;
    text-align: center;

    iframe {
        width: calc(75vh * 1.77);
        max-width: 100%;
        height: 1px;
        min-height: 75vh;
        display: block;
        margin: auto;
        margin-bottom: $standard;

    }

    button {
        z-index: 2;
        bottom: 15px;
        display: inline-block;
        float: left;
        margin-right: $standard;
    }

    &.fullscreen {
        position: fixed;
        width: 105vw;
        height: 105vh;
        background: black;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin-left: -35px;
        margin-top: -55px;

        iframe {
            position: fixed;
            max-width: 100vw;
            width: 100vw;
            height: calc(100vw * 0.5625);
            top: 50vh;
            left: 0;
            margin: auto;
            transform: translateY(-55%);
            margin-left: -35px;
            z-index: 1000;
        }

        button {
            display: none;
        }
    }
}
