@import 'functions';

.game {
    padding-bottom: 35px;
    text-align: center;

    iframe {
        width: calc(75vh * 1.77);
        height: 75vh;
        display: block;
        margin: auto;
        padding-bottom: $standard;
    }

    button {
        z-index: 2;
        bottom: 15px;
        display: inline-block;
        float: left;
    }
}
