@import 'variables';

#god-mode-site-nav { // scss-lint:disable IdSelector
    position: relative;
    width: 25%;

    .sidebar {
        padding: $standard / 2;
        order: 1;
        flex-grow: 0;
        flex-shrink: 0;

        .username {
            a,
            a:visited {
                color: $cmwn-purple;
            }
        }

        .active-menu {
            margin-top: 0;
            border-top: {
                width: 7.5px;
                style: solid;
                color: $cmwn-purple;
            }
            background-color: $cmwn-purple;
        }

        nav {

            li {
                border-bottom-color: $cmwn-purple;
            }

            li:first-child {
                border-top-color: $cmwn-purple;
            }

            a {
                color: $cmwn-purple;
            }
        }
    }

    .content {
        // scss-lint:disable all
        padding: $standard / 2;
        order: 2;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        // scss-lint:enable all
    }
}
