@import 'variables';

.flip-popover {
    .popover-title {
        border-bottom: 1px solid $cmwn-medium-gray;
        background: linear-gradient($cmwn-white, $cmwn-light-gray);
    }

    // scss-lint:disable all
    h3.popover-title {
    // scss-lint:enable all
        font-size: 1.2rem;

        .title-meta {
            font-size: .9rem;
            font-weight: normal;
        }
    }
}

.user-flip {
    border: 1px solid $cmwn-blue;
    max-height: 200px;
    overflow: scroll;
    // scss-lint:disable all
    scrollbar-face-color: $cmwn-blue;
    // scss-lint:enable all

    &::after {
        border: 1px solid $cmwn-blue;
    }

    .popover-title,
    .flip-name {
        color: $cmwn-blue;
        font-family: $cmwn-jade-font;
    }

    .popover-title {
        border: 0;
        background: none;
    }
}
