@import 'variables';

.user-flip {
    border: 1px solid $cmwn-blue;
    max-height: 200px;
    overflow: scroll;
    // scss-lint:disable all
    scrollbar-face-color: $cmwn-blue;
    // scss-lint:enable all

    &::after {
        border: 1px solid $cmwn-blue;
    }

    .popover-title,
    .flip-name {
        color: $cmwn-blue;
        font-family: $cmwn-jade-font;
    }

    .popover-title {
        border: 0;
        background: none;
    }
}

.user-popover {
    width: 100vw;
    max-width: 300px;
    height: 25vw;
    max-height: 130px;

    .popover-content {
        img {
            position: absolute;
            bottom: 5%;
            margin:f auto;
            width: 33%;
        }
    }
}
