@import 'variables';

//scss-lint:disable IdSelector
#cmwn-app .sidebar {
//scss-lint:enable IdSelector
    .username,
    .username a {
        cursor: pointer;
        text-decoration: none;
        color: $cmwn-blue;
        font-family: $cmwn-jade-font;
        //scss-lint:disable all
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word;
        hyphen: auto;
        //scss-lint:enable all

        &:visited {
            color: $cmwn-blue;
        }
    }

    .welcome {
        line-height: 0;
        color: $copy-medium-gray;
        font-size: .8rem;
        font-weight: bold;
    }
}

.regular-text {
    font-size: 1.7rem;
}

.smaller-text {
    font-size: 1.4rem;
}
