@import 'variables';

.sidebar {
    .username,
    .username a {
        cursor: pointer;
        text-decoration: none;
        color: $cmwn-blue;
        font-family: $cmwn-jade-font;
        font-size: 1.7rem;
    }

    .welcome {
        line-height: 0;
        color: $copy-medium-gray;
        font-size: .8rem;
        font-weight: bold;
   }
}
