@import 'variables';

.sidebar {
    
    .username {
        font-family: $cmwn-jade-font;
        font-size: 1.7rem;
        color: $cmwn-blue;
        cursor: pointer;
    }

   .welcome {
        line-height: 0;
        color: $copy-medium-gray;
        font-weight: bold;
        font-size: 0.8rem;
   } 
}
