@import 'variables';
@import 'functions';

.datatable {

    background: url('../media/blue-header-bg.jpg');
    background-color: $cmwn-blue;
    background-size: 100% auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    //border-right: 1px solid #fff;
    //border-top: 1px solid #ddd;

    td {
        padding: $standard / 2;
        //border-left: 1px solid #ddd;
    }

    thead {

        tr {
            color: #fff;
            filter: blur(0);
            font-family: $cmwn-jade-font;
            font-size: 1.2rem;
            -webkit-font-smoothing: antialiased;
            text-transform: uppercase;
        }

        td {
            white-space: pre;
            //border-left: #fff solid 1px;
        }
    }

    tbody {

        tr {
            //border-bottom: 1px solid #ddd;
            background: #fff;
        }

        td {
            border-left: 2px solid #fff;
            border-right: 2px solid #fff;
        }

        &:nth-child(even) {
            background: #eee;

            td {
                border-left: 2px solid #eee;
                border-right: 2px solid #eee;
            }
        }
    }

    .right {
        text-align: right;
    }

    &.admin {
        background: none;
        color: #000;

        tr {
            color: #000;
        }

        thead {
            border-bottom: 1px solid #000;
        }

        tbody {

            td {
                border: 0;
            }
        }
    }
}
