@import 'variables';

.trophycase {
    
    .flip-list {
        position: absolute;

        img {
            padding: $standard / 3;
        }

        .partial {
            display: inline-block;
            position: absolute;
            left: 0;
            overflow: hidden;
        }
    }

    .earned, .in-progress {
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        height: 110px;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    .in-progress {
        margin-bottom: -12px;
    }
}
