@import 'variables';

.trophycase {

    .flip-list {
        margin-top: -40%;
        width: 100%;
        overflow-y: scroll;

        .single-flip {
            display: inline-block;
            width: 50%;

            img {
                width: 100%;
            }
        }

        @media (min-width: $device-portrait-break) and (max-width: $device-portrait-break + ($device-max-break - $device-portrait-break) / 2) {
            margin-top: -28%;

            .single-flip {
                width: 33%;
            }
        }

        @media (min-width: $device-portrait-break + ($device-max-break - $device-portrait-break) / 2) and (max-width: $device-max-break) {
            margin-top: -26%;

            .single-flip {
                width: 33%;
            }
        }

        @media (min-width: $device-max-break) and (max-width: $monitor-max-break) {
            margin-top: -20%;

            .single-flip {
                width: 25%;
            }
        }

        @media (min-width: $monitor-max-break) and (max-width: $ultrawide-min-break * 2) {
            margin-top: -18%;

            .single-flip {
                width: 20%;

                img {
                    max-width: 150px;
                }
            }
        }

        a {
            display: inline-block;
            position: relative;
        }

        .partial {
            display: inline-block;
            position: absolute;
            left: 0;
            background: $cmwn-white;
            overflow: hidden;
        }
    }

    .earned,
    .in-progress {
        padding: 0 $standard;
        width: 100%;
        white-space: nowrap;

        strong {
            color: $cmwn-purple;
        }
    }

    .earned-header {
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
        font-size: 1.25rem;
    }

    .earned-value {
        font-size: 2rem;
    }

    .spacer {
        display: block;
        visibility: hidden;
        padding: 10px;
    }

    // /* Pulse */
    // @keyframes pulse {
    //   to {
    //     transform: scale(1.1);
    //   }
    // }

    // .pulse {
    //   display: inline-block;
    //   vertical-align: middle;
    //   transform: translateZ(0);
    //   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    //   backface-visibility: hidden;
    //   animation-name: pulse;;
    //   animation-duration: .5s;
    //   animation-delay: .3s;
    //   animation-timing-function: linear;
    //   animation-iteration-count: infinite;
    //   animation-direction: alternate;
    //   margin: 0 .5rem;
    // }

    // /* Buzz */
    // @keyframes buzz {
    //   50% {
    //     transform: translateX(3px) rotate(2deg);
    //   }

    //   100% {
    //     transform: translateX(-3px) rotate(-2deg);
    //   }
    // }

    // .buzz {
    //   display: inline-block;
    //   vertical-align: middle;
    //   transform: translateZ(0);
    //   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    //   backface-visibility: hidden;
    // }

    // .buzz:hover, .buzz:focus, .buzz:active {
    //   animation-name: buzz;
    //   animation-duration: 0.15s;
    //   animation-timing-function: linear;
    //   animation-iteration-count: infinite;
    // }

    // /* Float Shadow */
    // .float {
    //   display: inline-block;
    //   vertical-align: middle;
    //   transform: translateZ(0);
    //   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    //   backface-visibility: hidden;
    //   position: relative;
    //   transition-duration: 0.3s;
    //   transition-property: transform;
    //   transform: translateY(-5px);
    // }

    // .float:before {
    //   pointer-events: none;
    //   position: absolute;
    //   z-index: -1;
    //   content: '';
    //   top: 100%;
    //   left: 5%;
    //   height: 10px;
    //   width: 90%;
    //   opacity: 0;
    //   background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    //   transition-duration: 0.5s;
    //   transition-property: transform, opacity;
    //   opacity: 1;
    //   transform: translateY(5px);
    // }

  // .flip {
  //   border: none;
  //   transform: perspective(500px) rotateY(90deg) scale(0.9);
  // }

  // .flip:hover {
  //   transform: perspective(500px) rotateY(0) scale(1);
  // }
}
