@import 'variables';

.change-username {

    input:disabled {
        background-color: $cmwn-blue;
        border-radius: $standard / 3;
        box-shadow: 0 0 6px rgba(46, 163, 242, .9);
        color: #fff;
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
        font-size: 2rem;
        height: 3rem;
        margin: 0 auto;
        margin-bottom: 2rem;
        text-align: center;
    }

    input,
    label {
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
        font-size: 1.5rem;
    }

    .left {
        margin-bottom: 2rem;
        text-align: center;
        width: 50%;
    }

    .right {
        width: 50%;
    }

    .note {
        background-color: $cmwn-purple;
        border-radius: $standard * 2;
        box-shadow: -4px 6px 8px #888;
        color: #fff;
        float: right;
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
        font-size: 1.10rem;
        height: 11.5rem;
        padding: $standard;
        position: relative;
        visibility: hidden;
        width: 90%;

        &::after {
            border-bottom: 35px solid transparent;
            border-left: 35px solid $cmwn-purple;
            box-shadow: -6px -1px 10px -4px #888;
            content: '';
            left: -$standard;
            position: absolute;
            top: 40px;
            transform: rotate(-45deg);
        }
    }

    .open {
        visibility: visible;
    }

    .reminder-container {
        height: 150px;
        left: -2.75rem;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .reminder {
        background: $cmwn-blue;
        box-shadow: -4px 6px 8px #888;
        color: #fff;
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
        height: 100px;
        left: -100%;
        margin-top: 2rem;
        padding: $standard;
        position: absolute;
        transition: 1s;
        width: 50%;

        &::after {
            border-bottom: 35px solid transparent;
            border-left: 35px solid $cmwn-blue;
            box-shadow: -6px -3px 10px -4px #888;
            content: '';
            left: -$standard;
            position: absolute;
            top: 40px;
            transform: rotate(-45deg);
        }
    }

    .animate {
        left: 30px;
        transition: 1s;
    }

    .disclaimer {
        font-size: 1rem;
    }

    @keyframes username-btn {
        16.65% {
            transform: translateX(8px);
        }

        33.3% {
            transform: translateX(-6px);
        }

        49.95% {
            transform: translateX(4px);
        }

        66.6% {
            transform: translateX(-2px);
        }

        83.25% {
            transform: translateX(1px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .username-btn {
        backface-visibility: hidden;
        border: 0;
        color: #fff;
        display: inline-block;
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
        font-size: 1.5rem;
        margin: .25rem 0;
        outline: none;
        transform: translateZ(0);
        vertical-align: top;
        width: 75%;
    }

    .username-btn:hover,
    .username-btn:focus,
    .username-btn:active {
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-name: username-btn;
        animation-timing-function: ease-in-out;
        border: 0;
        outline: none;
    }

    .generate:hover {
        box-shadow: 0 0 6px rgba(120, 81, 147, .9);
    }

    .submit:hover {
        box-shadow: 0 0 6px rgba(71, 183, 44, .9);
    }

    .alternate-usernames-btn:hover {
        box-shadow: 0 0 6px rgba(46, 163, 242, .9);
    }

}
