@import '../variables';

.username-generator-modal {
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(25%);
        outline: none;
        border: 0;
        box-shadow: none;
        background-color: transparent;
        width: 100%;
    }

    .modal-body {
        background: url('#{$media-url}93357d85e89277029365926872098414.png');
        background-color: transparent;
        background-size: 100% 100%;
        padding: $standard $standard ($standard * 2);
    }

    .login-notice ~ .close-modal-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
        outline: none;
        border: 0;
        background: url('#{$media-url}0c7044bc6e88f37a8910966dba68fe47.png');
        background-position: -376px -337px;
        background-size: 1100px 793px;
        width: 27%;
        height: 14%;

        &:hover,
        &:focus,
        &:active {
            outline: none;
            border: 0;
            box-shadow: none;
            background-position: 177px -337px;
        }
    }

    .loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        animation: fadeIn;
        opacity: .1;
        z-index: 2;

        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateZ(0);
            animation: load 1.1s infinite linear;
            z-index: 1;
            border-top: 1.1em solid $cmwn-white;
            border-right: 1.1em solid $cmwn-white;
            border-bottom: 1.1em solid $cmwn-white;
            border-left: 1.1em solid;
            font-size: 10px;
        }

        .loader,
        .loader::after {
            position: absolute;
            top: 40%;
            left: 40%;
            border-radius: 50%;
            width: 10em;
            height: 10em;
        }

        @keyframes load {
            0% {transform: rotate(0deg);}
            100% {transform: rotate(360deg);}
        }
    }

    .mobile {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        * {
            z-index: 1;
        }

        &:not(.welcome)::after {
            position: absolute;
            top: 0;
            left: 0;
            background: url('#{$media-url}bd702fb6c0dd8f18ab10fd7dae836d3b.png');
            background-repeat: no-repeat;
            background-position: 50% 35%;
            background-size: 35%;
            width: 100%;
            height: 100%;
            content: '';
        }

        .next {
            position: absolute;
            right: 20%;
            bottom: 0;
            margin-bottom: 7%;
            padding: 2%;
            width: 60%;
            text-align: center;

            .label {
                display: block;
                color: $cmwn-white;
                font-family: $cmwn-jade-font;
                font-size: .75rem;
            }
        }

        .prev-btn,
        .next-btn {
            bottom: 0;
            margin: 5%;
            width: 50px;
            height: 50px;
        }

        .prev-btn {
            left: 0;
            background: url('#{$media-url}c84c9bb108ec839ea27fa2545e46dbb7.png');
        }

        .next-btn {
            right: 0;
            background: url('#{$media-url}9d04e1c72ecd61f0699f3bbaf8cdff7c.png');
        }

        .close-modal-btn {
            border-radius: 0;
            background-color: $cmwn-purple;
            padding: 5%;
            width: 100%;
            height: 12%;

            .original-label {
                color: $cmwn-white;
                font-family: $cmwn-jade-font;
            }

            .original {
                color: $cmwn-lighter-green;
            }

            .prompt {
                display: block;
                color: $cmwn-white;
                font-weight: 200;
            }
        }

        .start-btn {
            display: block;
            position: relative;
            top: 60%;
            left: 10%;
            background: url('#{$media-url}dada923c8ee2c15dc28c1d873f04314e.png');
            width: 80%;
            height: 45px;

            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: 0;
                box-shadow: none;
            }
        }

        .prev-btn,
        .next-btn,
        .close-modal-btn {
            position: absolute;
        }

        .prev-btn,
        .next-btn,
        .close-modal-btn,
        .start-btn {
            outline: none;
            border: 0;
            background-repeat: no-repeat;
            background-size: contain;

            &:active,
            &:focus {
                outline: none;
                border: 0;
                box-shadow: none;
                background-color: $cmwn-purple;
            }
        }

        .welcome-container {
            position: absolute;
            background: url('#{$media-url}d43084d476c689bab2f40b2cd23bafb4.png');
            background-position: -25vw 0;
            background-size: auto 88vh;
            width: 100%;
            height: 100%;

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                background: url('#{$media-url}bd702fb6c0dd8f18ab10fd7dae836d3b.png');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 35%;
                width: 100%;
                height: 100%;
                content: '';
            }

            .content {
                top: 60%;
            }
        }

        .mobile-welcome-container {
            position: absolute;
            top: 12%;
            width: 100%;
            height: 88%;
            overflow: scroll;
            text-align: center;

            .prompt {
                display: block;
                position: relative;
                top: 60%;
                color: $cmwn-white;
                font-size: 2rem;
                font-weight: 100;
            }
        }

        .instructions-prompt-container {
            position: relative;
            top: 64%;
            width: 100%;
            text-align: center;
            color: $cmwn-white;

            .prompt {
                text-decoration: underline;
                font-size: .75rem;
                font-weight: 300;
            }

            &::after {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background: url('#{$media-url}fa15d1f77876b97068e0bbe1b9dfe634.png');
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: contain;
                width: 5%;
                height: 100%;
                content: '';
            }
        }

        .instructions-container {
            position: absolute;
            top: 100%;
            background: url('#{$media-url}93357d85e89277029365926872098414.png');
            background-color: transparent;
            background-position: -10vw -10vw;
            background-size: 120vw 120vh;
            width: 100%;
            height: 100%;

            .prompt {
                text-decoration: underline;
                font-size: .75rem;
                font-weight: 300;
            }

            .instructions-prompt-container {
                position: relative;
                top: 5%;
                width: 100%;
                text-align: center;
                color: $cmwn-white;


                // scss-lint:disable NestingDepth, SelectorDepth
                &::after {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    background: url('#{$media-url}d51e05e5baffc41d8115bbb001740850.png');
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: contain;
                    width: 5%;
                    height: 100%;
                    content: '';
                }
                // scss-lint:enable NestingDepth, SelectorDepth
            }

            .instructions {
                position: absolute;
                top: 50%;
                left: 5%;
                transform: translateY(-50%);
                border: 2px solid $cmwn-purple;
                border-radius: 5px;
                background: $cmwn-blue-green;
                padding: 10px;
                width: 90%;
                font-weight: 900;

                // scss-lint:disable NestingDepth, SelectorDepth
                .copy-header {
                    display: block;
                    color: $cmwn-purple;
                    font-family: $cmwn-jade-font;
                    font-size: 1.1rem;
                }

                .copy {
                    display: block;
                    color: $cmwn-purple;
                    font-size: .8rem;
                    font-weight: 400;
                }
                // scss-lint:enable NestingDepth, SelectorDepth
            }
        }

        .mobile-update-username-container {
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;

            .container {
                position: relative;
                width: 100%;
            }

            .generated {
                position: relative;
                top: 5%;
                left: 5%;
                background: url('#{$media-url}498f503eb02da1a929363ef1e7519532.png');
                background-size: 100% 100%;
                width: 90%;
                height: 45px;
                text-align: center;
                color: $cmwn-white;
                font-size: 2rem;
            }

        }

        .generate-btn {
            position: relative;
            top: 40%;
            left: 5%;
            margin: 4% 0;
            outline: none;
            border: 0;
            background: url('#{$media-url}0c7044bc6e88f37a8910966dba68fe47.png');
            background-position: -19px -14px;
            background-size: 575px 415px;
            width: 90%;
            height: 45px;


            &::after {
                position: absolute;
                top: -64%;
                right: -6%;
                background: url('#{$media-url}d839d3f5049e65b2c52ba975a2512582.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 12%;
                height: 74%;
                content: '';
            }

            &:active {
                outline: none;
                border: 0;
                box-shadow: none;
                background-color: transparent;
                background-position: -305px -14px;
            }
        }

        .mobile-select-container {
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;

            .prompt {
                display: block;
                margin: 2% 0;
                text-align: center;
                text-shadow: -1px -1px 1px $cmwn-purple, 1px -1px 1px $cmwn-purple, -1px 1px 1px $cmwn-purple, 1px 1px 1px $cmwn-purple;
                color: $cmwn-green;
                font-family: $cmwn-jade-font;
                font-size: 1.25rem;
            }

            .option,
            .last {
                display: block;
                position: relative;
                left: 5%;
                outline: none;
                border: 0;
                background: url('#{$media-url}0c7044bc6e88f37a8910966dba68fe47.png');
                background-repeat: no-repeat;
                background-position: -269px -147px;
                background-size: 1150px 830px;
                width: 90%;
                height: 55px;
                color: $cmwn-white;
                font-family: $cmwn-jade-font;
                font-size: 1rem;

                // scss-lint:disable NestingDepth, SelectorDepth
                &:hover,
                &:focus,
                &:active,
                &.selected {
                    outline: none;
                    box-shadow: none;
                    background-color: transparent;
                    color: $cmwn-white;
                }

                &.selected {
                    background-position: -843px -144px;
                }
                // scss-lint:enable NestingDepth, SelectorDepth
            }
        }

        .mobile-confirmation-container {
            position: relative;
            top: 50%;
            text-align: center;
            color: $cmwn-white;
            font-family: $cmwn-jade-font;

            .header {
                display: block;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: 80%;
            }

            .prompt-container {
                display: block;
                margin: 2% 0;
            }

            .prompt {
                display: block;
                font-size: 1.5rem;
            }

            .original,
            .selected-option {
                display: block;
                position: relative;
                left: 25%;
                outline: none;
                border: 0;
                background: url('#{$media-url}0c7044bc6e88f37a8910966dba68fe47.png');
                background-repeat: no-repeat;
                background-position: -148px -147px;
                background-size: 633px 830px;
                width: 50%;
                height: 55px;
                color: $cmwn-white;
                font-family: $cmwn-jade-font;
                font-size: 1rem;

            }

            &.selected {
                outline: none;
                box-shadow: none;
                background-color: transparent;
                background-position: -843px -144px;
                color: $cmwn-white;
            }

            &.selected::after {
                position: absolute;
                top: 10%;
                left: -25%;
                background: url('#{$media-url}a3d9df57d3eb07e7ce95d3940114dea6.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 20%;
                height: 80%;
                content: '';
            }
        }

        .login-notice-container {
            top: 50%;

            .header {
                margin: 5% 0;
                width: 80%;
            }

            .prompt {
                font-size: 1.25rem;
            }

            .username {
                font-size: 2rem;
            }

            .content {
                margin-top: 10%;
            }
        }

        .mobile-close-modal-btn {
            display: block;
            position: absolute;
            top: 130%;
            left: 50%;
            transform: translateX(-50%);
            outline: none;
            border: 0;
            background: url('#{$media-url}0c7044bc6e88f37a8910966dba68fe47.png');
            background-position: -375px -338px;
            background-size: 1100px 793px;
            width: 50%;
            height: 50px;

            &:focus,
            &:active {
                outline: none;
                border: 0;
                box-shadow: none;
                background-position: 177px -337px;
            }
        }
    }

    .desktop-update-username-container {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        .container {
            position: relative;
            width: 100%;
        }

        .step-1-container {
            margin-bottom: -8%;
        }

        .current-username-container {
            margin: 4% 0;
            padding: 2% 0;
        }

        .call-to-action-container {
            margin: 2% 0;
            text-align: center;
        }

        .step-3-container {
            margin: 2% 0;
            padding: 2% 0;
        }

        .step-1 {
            position: relative;
            left: 5%;
            color: $cmwn-white;
            font-family: $cmwn-jade-font;
            font-size: 9rem;

            &::before {
                position: absolute;
                bottom: 25%;
                left: 42%;
                transform: translateX(-50%);
                width: 100%;
                height: 100%;
                text-align: center;
                color: $cmwn-white;
                font-size: 2rem;
                content: 'STEP';
            }
        }

        .generated {
            position: absolute;
            top: 5%;
            right: 14%;
            background: url('#{$media-url}498f503eb02da1a929363ef1e7519532.png');
            background-size: 100% 100%;
            padding: 1%;
            width: 60%;
            height: 30%;
            text-align: center;
            color: $cmwn-white;
            font-size: 2rem;
        }

        .generate-btn {
            position: absolute;
            top: 40%;
            right: 8%;
            outline: none;
            border: 0;
            background: url('#{$media-url}0c7044bc6e88f37a8910966dba68fe47.png');
            background-position: -27px -23px;
            background-size: 900px 649px;
            width: 72%;
            height: 68px;

            &::after {
                position: absolute;
                top: -64%;
                right: -6%;
                background: url('#{$media-url}d839d3f5049e65b2c52ba975a2512582.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 12%;
                height: 74%;
                content: '';
            }

            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: 0;
                box-shadow: none;
                background-color: transparent;
                background-position: -475px -23px;
            }
        }

        .original-label {
            position: relative;
            top: 75%;
            left: 5%;
            color: $cmwn-white;
            font-family: $cmwn-jade-font;
            font-size: 1.25rem;
        }

        .original,
        .original-btn {
            position: absolute;
            top: 0;
            height: 100%;
            text-align: center;
            color: $cmwn-white;
        }

        .original {
            right: 14%;
            background: url('#{$media-url}498f503eb02da1a929363ef1e7519532.png');
            background-size: 100% 100%;
            padding: 1%;
            width: 49%;
            font-size: 1.75rem;
        }

        .original-btn {
            right: 5%;
            outline: none;
            border: 0;
            border-radius: 15px;
            background: $cmwn-purple;
            padding: 0;
            width: 8%;
            line-height: 13px;
            white-space: normal;
            color: $cmwn-white;
            font-family: $cmwn-jade-font;
            font-size: 1rem;
            font-weight: 700;

            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: 0;
                box-shadow: none;
                background: $cmwn-green;
                color: $cmwn-white;
            }
        }

        .call-to-action {
            position: relative;
            color: $cmwn-white;
            font-family: $cmwn-jade-font;
            font-size: 2.25rem;
        }

        .option,
        .last {
            display: block;
            position: relative;
            left: 20%;
            outline: none;
            border: 0;
            background: url('#{$media-url}0c7044bc6e88f37a8910966dba68fe47.png');
            background-repeat: no-repeat;
            background-position: -256px -128px;
            background-size: 1100px 750px;
            width: 52%;
            height: 56px;
            color: $cmwn-white;
            font-family: $cmwn-jade-font;
            font-size: 1.75rem;

            &:hover,
            &:focus,
            &:active,
            &.selected {
                outline: none;
                box-shadow: none;
                background-color: transparent;
                color: $cmwn-white;
            }

            &:hover,
            &.selected {
                background-position: -804px -126px;
            }

            &.selected::after,
            &.not-selected::after {
                position: absolute;
                top: 10%;
                left: -25%;
                width: 20%;
                height: 80%;
                content: '';
            }

            &.selected::after {
                background: url('#{$media-url}a3d9df57d3eb07e7ce95d3940114dea6.png');
                background-repeat: no-repeat;
                background-size: contain;
            }

            &.not-selected::after {
                background: url('#{$media-url}34a9d35ecea03f6ec04f924b26f997a1.png');
                background-repeat: no-repeat;
                background-size: contain;
            }

            &.disable {
                visibility: hidden;
            }
        }

        .step-2,
        .step-3 {
            color: $cmwn-white;
            font-family: $cmwn-jade-font;
        }

        .step-2 {
            position: absolute;
            top: 8%;
            right: 11%;
            font-size: 6rem;

            &::before {
                position: absolute;
                bottom: 5%;
                left: 42%;
                transform: translateX(-50%);
                width: 100%;
                height: 100%;
                text-align: center;
                color: $cmwn-white;
                font-size: 1.5rem;
                content: 'STEP';
            }
        }

        .step-3 {
            position: relative;
            left: 5%;
            font-size: 1.25rem;

            &::after {
                position: absolute;
                top: -50%;
                right: -90%;
                background: url('#{$media-url}1d12a1178e0fc1e1696dcecbeb56b3e3.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 80%;
                height: 200%;
                content: '';
            }
        }

        .save-btn {
            position: absolute;
            top: 5%;
            right: 2%;
            bottom: 5%;
            outline: none;
            border: 0;
            background: url('#{$media-url}0c7044bc6e88f37a8910966dba68fe47.png');
            background-position: -417px -221px;
            background-size: 1100px 793px;
            width: 21%;

            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: 0;
                box-shadow: none;
                background-color: transparent;
                background-position: -967px -221px;
            }

            &.disable {
                visibility: hidden;
            }
        }

        ~ .close-modal-btn {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(25%) translateY(-25%);
            outline: none;
            border: 0;
            background: url('#{$media-url}38e4b9a8627d63b457480b8ef60f34db.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 10%;
            height: 10%;

            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: 0;
                box-shadow: none;
                background: url('#{$media-url}89e604e0a2c2831692f2e1e04629cd4a.png');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

    }

    .desktop-confirmation-container {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        color: $cmwn-white;
        font-family: $cmwn-jade-font;

        .header {
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin: 3% 0;
            width: 60%;
        }

        .prompt {
            display: block;
            font-size: 2rem;
        }

        .content {
            display: inline-block;
            width: 50%;
        }

        .confirm-btn,
        .cancel-btn {
            display: inline;
            margin: 5% 3% 0;
            outline: none;
            border: 0;
            background: url('#{$media-url}0c7044bc6e88f37a8910966dba68fe47.png');
            background-size: 600px 433px;
            width: 48%;
            height: 56px;

            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: 0;
                box-shadow: none;
                background-color: transparent;
            }
        }

        .confirm-btn {
            background-position: -133px -795px;

            &:hover,
            &:focus,
            &:active {
                background-position: -433px -795px;
            }
        }

        .cancel-btn {
            background-position: -133px -291px;

            &:hover,
            &:focus,
            &:active {
                background-position: -433px -291px;
            }
        }

        ~ .close-modal-btn {
            display: none;
        }

    }

    .login-notice-container {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-bottom: 15%;
        text-align: center;
        color: $cmwn-white;
        font-family: $cmwn-jade-font;

        .header {
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin: 3% 0;
            width: 60%;
        }

        .prompt {
            display: block;
            font-size: 2rem;
        }

        .username {
            display: block;
            font-size: 3rem;
        }

        .confirm-btn {
            margin: 2% 0;
            outline: none;
            border: 0;
            border-radius: $standard;
            background-color: $cmwn-lighter-green;
            width: 25%;
            color: $cmwn-purple;
            font-size: 2rem;

            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: 0;
                box-shadow: none;
                background-color: $cmwn-lighter-green;
            }
        }

        .content {
            display: none;
        }
    }

    @media (min-width: $device-max-break) {
        .desktop-update-username-container,
        .confirmation-container,
        .login-notice-container {
            left: 50%;
            transform: translateX(-50%);
            max-width: 570px;
        }

        .login-notice-container ~ .close-modal-btn {
            max-width: 154px;
        }
    }


    @media (min-width: 603px) and (max-width: $device-max-break) {
        .desktop-update-username-container,
        .confirmation-container,
        .login-notice-container {
            left: 50%;
            transform: translateX(-50%);
            max-width: 553px;

            .step-1 {
                font-size: 7rem;

                &::after {
                    font-size: 1.5rem;
                }
            }

            .generate-btn {
                background-position: -23px -23px;
                background-size: 850px 613px;

                &::after {
                    top: -62%;
                }

                &:hover,
                &:focus,
                &:active {
                    background-position: -446px -23px;
                }

            }

            .original {
                top: 5%;
                width: 48%;
                height: 90%;
                font-size: 1.5rem;
            }

            .step-2 {
                top: 0;
                font-size: 7rem;
            }

            .option,
            .last {
                background-position: -253px -128px;
                width: 54%;
                height: 55px;

                &:hover,
                &.selected {
                    background-position: -801px -126px;
                }
            }

            .step-3::after {
                right: -85%;
                width: 80%;
            }

            .save-btn {
                top: 15%;
            }
        }

        .confirmation-container {
            .confirm-btn,
            .cancel-btn {
                width: 29%;
            }

            .cancel-btn {
                background-position: -132px -291px;

                &:hover,
                &:focus,
                &:active {
                    background-position: 138px 120px;
                }
            }

            .confirm-btn {
                background-position: -133px -795px;

                &:hover,
                &:focus,
                &:active {
                    background-position: -434px -795px;
                }
            }
        }

        .login-notice-container ~ .close-modal-btn {
            max-width: 154px;
        }
    }

    @media (min-width: 540px) and (max-width: 603px) {
        .desktop-update-username-container,
        .confirmation-container,
        .login-notice-container {
            left: 50%;
            transform: translateX(-50%);
            max-width: 490px;

            .step-1 {
                font-size: 7rem;

                &::before {
                    font-size: 1.5rem;
                }
            }

            .generated {
                font-size: 1.5rem;
            }

            .generate-btn {
                background-position: -18px -18px;
                background-size: 750px 541px;

                &::after {
                    top: -52%;
                    right: -5%;
                }

                &:hover,
                &:focus,
                &:active {
                    background-position: -392px -18px;
                }

            }

            .current-username-container {
                padding: 1% 0;
            }

            .original-label {
                font-size: 1rem;
            }

            .original {
                font-size: 1.25rem;
            }

            .original-btn {
                font-size: .75rem;
            }

            .call-to-action {
                font-size: 1.75rem;
            }

            .step-2 {
                font-size: 5rem;
            }

            .option,
            .last {
                background-position: -210px -112px;
                background-size: 900px 649px;
                height: 45px;
                font-size: 1rem;

                &:hover,
                &.selected {
                    background-position: -658px -110px;
                }
            }

            .step-3 {
                font-size: 1rem;

                &::after {
                    right: -100%;
                    width: 90%;
                }
            }

            .save-btn {
                background-position: -337px -174px;
                background-size: 900px 649px;

                &:hover,
                &:focus,
                &:active {
                    background-position: -788px -174px;
                }
            }
        }

        .confirmation-container {
            .confirm-btn,
            .cancel-btn {
                background-size: 500px 361px;
                width: 27%;
                height: 48px;
            }

            .cancel-btn {
                background-position: -111px 120px;

                &:hover,
                &:focus,
                &:active {
                    background-position: 139px 120px;
                }
            }

            .confirm-btn {
                background-position: -111px 60px;

                &:hover,
                &:focus,
                &:active {
                    background-position: 139px 60px;
                }
            }
        }

        .login-notice-container {
            .prompt {
                font-size: 1.75rem;
            }

            .username {
                font-size: 2.5rem;
            }
        }

        .login-notice-container ~ .close-modal-btn {
            transform: translateX(-50%) translateY(-75%);
            background-position: -371px 456px;
            background-size: 1100px 794px;
            width: 32%;
            height: 18%;

            &:hover,
            &:focus,
            &:active {
                background-position: 180px 460px;
            }
        }
    }

    @media (min-width: 477px) and (max-width: 540px) {
        .desktop-update-username-container,
        .confirmation-container,
        .login-notice-container {
            left: 50%;
            transform: translateX(-50%);
            max-width: 427px;

            .step-1 {
                font-size: 6rem;

                &::before {
                    font-size: 1.25rem;
                }
            }

            .generated {
                padding: .5rem;
                font-size: 1.25rem;
            }

            .generate-btn {
                right: 9%;
                background-position: -21px -16px;
                background-size: 650px 469px;
                width: 69%;
                height: 52px;

                &::after {
                    top: -60%;
                }

                &:hover,
                &:focus,
                &:active {
                    background-position: -345px -16px;
                }

            }

            .current-username-container {
                padding: 1% 0;
            }

            .original-label {
                font-size: 1rem;
            }

            .original {
                width: 46%;
                font-size: 1.25rem;
            }

            .original-btn {
                font-size: .75rem;
            }

            .call-to-action {
                font-size: 1.5rem;
            }

            .step-2 {
                font-size: 5rem;

                &::before {
                    left: 44%;
                    font-size: 1.25rem;
                }
            }

            .option,
            .last {
                background-position: -185px -97px;
                background-size: 800px 577px;
                height: 45px;
                font-size: 1rem;

                &:hover,
                &.selected {
                    background-position: -584px -95px;
                }
            }

            .step-3 {
                font-size: 1rem;

                &::after {
                    right: -80%;
                    width: 70%;
                }
            }

            .save-btn {
                background-position: -302px -152px;
                background-size: 800px 577px;

                &:hover,
                &:focus,
                &:active {
                    background-position: -700px -152px;
                }
            }
        }

        .confirmation-container {
            .confirm-btn,
            .cancel-btn {
                background-size: 450px 425px;
                width: 28%;
                height: 56px;
            }

            .cancel-btn {
                background-position: -100px -709px;

                &:hover,
                &:focus,
                &:active {
                    background-position: 125px -706px;
                }
            }

            .confirm-btn {
                background-position: -100px -779px;

                &:hover,
                &:focus,
                &:active {
                    background-position: 123px -779px;
                }
            }
        }

        .login-notice-container {
            .prompt {
                font-size: 1.5rem;
            }

            .username {
                font-size: 2.25rem;
            }
        }

        .login-notice-container ~ .close-modal-btn {
            transform: translateX(-50%) translateY(-75%);
            background-position: -340px 415px;
            background-size: 1000px 722px;
            width: 32%;
            height: 19%;

            &:hover,
            &:focus,
            &:active {
                background-position: 161px 418px;
            }
        }
    }

    @media (min-width: 414px) and (max-width: 477px) {
        .desktop-update-username-container,
        .confirmation-container,
        .login-notice-container {
            left: 50%;
            transform: translateX(-50%);
            max-width: 364px;
        }

        .desktop-update-username-container {
            .step-1 {
                font-size: 4rem;

                &::before {
                    bottom: 8%;
                    font-size: 1rem;
                }
            }

            .generated {
                padding: 0;
                height: auto;
                min-height: 23px;
                font-size: 1rem;
            }

            .generate-btn {
                right: 10%;
                background-position: -17px -13px;
                background-size: 550px 397px;
                width: 69%;
                height: 45px;

                &::after {
                    top: -54%;
                    right: -7%;
                }

                &:hover,
                &:focus,
                &:active {
                    background-position: -291px -13px;
                }

            }

            .current-username-container {
                margin: 8% 0 0;
                padding: 0;
            }

            .original-label {
                font-size: .75rem;
            }

            .original {
                padding: 0;
                width: 50%;
                font-size: 1rem;
            }

            .original-btn {
                border-radius: 10px;
                line-height: 9px;
                font-size: .5rem;
            }

            .call-to-action {
                font-size: 1.4rem;
            }

            .step-2 {
                font-size: 5rem;

                &::before {
                    left: 44%;
                    font-size: 1.25rem;
                }
            }

            .option,
            .last {
                left: 16%;
                background-position: -185px -98px;
                background-size: 800px 577px;
                width: 62%;
                height: 45px;
                font-size: 1rem;

                &:hover,
                &.selected {
                    background-position: -584px -96px;
                }
            }

            .step-3 {
                font-size: 1rem;

                &::after {
                    right: -50%;
                    width: 45%;
                }
            }

            .save-btn {
                top: 24%;
                background-position: -285px -150px;
                background-size: 750px 541px;
                width: 22%;
                height: 32px;

                &:hover,
                &:focus,
                &:active {
                    background-position: -660px -148px;
                }
            }
        }

        .confirmation-container {
            .confirm-btn,
            .cancel-btn {
                background-size: 400px 289px;
                width: 30%;
                height: 41px;
            }

            .cancel-btn {
                background-position: -88px -481px;

                &:hover,
                &:focus,
                &:active {
                    background-position: -287px -481px;
                }
            }

            .confirm-btn {
                background-position: -84px -529px;

                &:hover,
                &:focus,
                &:active {
                    background-position: -283px -529px;
                }
            }
        }

        .login-notice-container {
            .prompt {
                font-size: 1.25rem;
            }

            .username {
                font-size: 2rem;
            }
        }

        .login-notice-container ~ .close-modal-btn {
            transform: translateX(-50%) translateY(-75%);
            background-position: -307px 373px;
            background-size: 900px 650px;
            width: 33%;
            height: 18%;

            &:hover,
            &:focus,
            &:active {
                background-position: 144px 375px;
            }
        }
    }
}


@media (max-width: 414px) {
    .username-generator-modal {
        .modal-dialog,
        .modal-content {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: none;
            margin: 0;
            width: 100vw;
            height: 100vh;
        }

        .modal-body {
            background-position: -10vw -10vh;
            background-size: 120vw 120vh;
            width: 100vw;
            height: 100vh;
        }


        .desktop {
            display: none;
        }

        .mobile {
            display: inline-block;

            .content {
                display: block;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                max-width: 320px;
            }
        }
    }
}
