@import 'variables';

.cmwn-confirm {
  font-family: $cmwn-jade-font;
}

.cmwn-cancel {
  font-family: $cmwn-jade-font;
}

.float-shadow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
}

.float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.float-shadow:hover {
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.float-shadow:hover:before {
  opacity: 1;
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.change-username {

  // input:disabled {
  //   font-size: 1rem;
  //   font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
  //   background-color: $cmwn-blue;
  //   box-shadow: 0px 0px 6px rgba(46, 163, 242, 0.9);
  //   border-radius: %standard / 3;
  //   height: 2rem;
  //   color: #fff;
  //   text-align: center;
  //   margin: 0 auto;
  // }

  // input, label {
  //   font-size: 1.5rem;
  //   font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
  // }

  .left {
    width: 50%;
    margin-bottom: 2rem;
    text-align: center;
  }

  .right {
    width: 50%;
  }

  .note {
    visibility: hidden;
    float: right;
    position: relative;
    width: 90%;
    height: 8rem;
    padding: $standard;
    font-size: 1.10rem;
    font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
    background-color: $cmwn-blue;
    color: #fff;
    border-radius: $standard * 2;
    box-shadow: -4px 6px 8px #888;
    top: 3rem;

    &:after {
      border-bottom: 25px solid transparent;
      border-left: 33px solid $cmwn-blue;
      box-shadow: -6px -1px 10px -4px #888;
      transform: rotate(-45deg);
      left: -13px;
      content: '';
      position: absolute;
      top: 4rem;
    }
  }

  .open {
    visibility: visible;
  }

  .reminder-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
    left: -2.75rem;
  }

  .reminder {
    position: absolute;
    left: -100%;
    width: 50%;
    height: 100px;
    margin-top: 2rem;
    padding: $standard;
    background: $cmwn-blue;
    transition: 1s;
    font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
    color: #fff;
    box-shadow: -4px 6px 8px #888;

    &:after {
      border-bottom: 35px solid transparent;
      border-left: 35px solid $cmwn-blue;
      box-shadow: -6px -3px 10px -4px #888;
      transform: rotate(-45deg);
      left: -$standard;
      content: '';
      position: absolute;
      top: 40px;
    }
  }

  .animate {
    transition: 1s;
    left: 30px;
  }

  .disclaimer {
    font-size: 1rem;
  }

  @keyframes username-btn {
    16.65% {
      transform: translateX(8px);
    }

    33.3% {
      transform: translateX(-6px);
    }

    49.95% {
      transform: translateX(4px);
    }

    66.6% {
      transform: translateX(-2px);
    }

    83.25% {
      transform: translateX(1px);
    }

    100% {
      transform: translateX(0);
    }
  }


  .username-picker {
    border-radius: $standard / 2;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
    padding: .5rem .5rem .25rem .5rem;
    margin: .25rem;
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
  }

  .username {
    background: $cmwn-blue;
    width: 90%;
    font-size: 1.5rem;
    padding: .25rem;
  }

  .username-btn {
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  .generate {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .username-btn:hover, .username-btn:focus, .username-btn:active {
    animation-name: username-btn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    border: none;
    outline: none;
  }
}
