@import '../variables';

.cmwn-font {
    font-family: $cmwn-jade-font;
}

.float-shadow {
    display: inline-block;
    position: relative;
    transform: translateZ(0);
    box-shadow: 0 0 1px $cmwn-black;
    vertical-align: middle;
    transition-duration: .3s;
    transition-property: transform;
    backface-visibility: hidden;
}

.float-shadow::before {
    position: absolute;
    top: 100%;
    left: 5%;
    opacity: 0;
    z-index: -1;
    // scss-lint:disable all
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, 0) 80%);
    // scss-lint:enable all
    width: 90%;
    height: 10px;
    content: '';
    //* W3C */
    transition-duration: .3s;
    transition-property: transform, opacity;
    pointer-events: none;
}

.float-shadow:hover {
    transform: translateY(-5px);
    //* move the element up by 5px */
}

.float-shadow:hover::before {
    transform: translateY(5px);
    opacity: 1;
    //* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.change-username {
    .left {
        margin-bottom: 2rem;
        width: 50%;
        text-align: center;
    }

    .right {
        width: 50%;
    }

    .note {
        position: relative;
        top: 3rem;
        float: right;
        visibility: hidden;
        border-radius: $standard * 2;
        box-shadow: -4px 6px 8px $cmwn-gray;
        background-color: $cmwn-blue;
        padding: $standard;
        width: 90%;
        height: 8rem;
        color: $cmwn-white;
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
        font-size: 1.1rem;

        &::after {
            position: absolute;
            top: 4rem;
            left: -$standard;
            transform: rotate(-45deg);
            border-bottom: 25px solid transparent;
            border-left: 33px solid $cmwn-blue;
            box-shadow: -6px -1px 10px -4px $cmwn-gray;
            content: '';
        }
    }

    .open {
        visibility: visible;
    }

    .reminder-container {
        position: relative;
        left: -2.75rem;
        width: 100%;
        height: 150px;
        overflow: hidden;
      }

    input,
    label {
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
        font-size: 1.5rem;
    }

    .reminder {
        position: absolute;
        left: -100%;
        transition: 1s;
        margin-top: 2rem;
        box-shadow: -4px 6px 8px $cmwn-gray;
        background: $cmwn-blue;
        padding: $standard;
        width: 50%;
        height: 100px;
        color: $cmwn-white;
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;

        &::after {
            position: absolute;
            top: 40px;
            left: -$standard;
            transform: rotate(-45deg);
            border-bottom: 35px solid transparent;
            border-left: 35px solid $cmwn-blue;
            box-shadow: -6px -3px 10px -4px $cmwn-gray;
            content: '';
        }
    }

    .animate {
        left: 30px;
        transition: 1s;
    }

    .disclaimer {
        font-size: 1rem;
    }

    @keyframes username-btn {
        16.65% {
            transform: translateX(8px);
        }

        33.3% {
            transform: translateX(-6px);
        }

        49.95% {
            transform: translateX(4px);
        }

        66.6% {
            transform: translateX(-2px);
        }

        83.25% {
            transform: translateX(1px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .username-picker {
        display: inline-block;
        margin: .25rem;
        outline: none;
        border: 0;
        border-radius: $standard / 2;
        padding: .5rem;
        width: 100%;
        vertical-align: top;
        color: $cmwn-white;
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
        font-size: 1.25rem;
    }

    .username {
        background: $cmwn-blue;
        padding: .25rem;
        width: 90%;
        font-size: 1.5rem;
    }

    .username-btn {
        transform: translateZ(0);
        backface-visibility: hidden;
    }

    .generate {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .username-btn:hover,
    .username-btn:focus,
    .username-btn:active {
        animation-name: username-btn;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        outline: none;
        border: 0;
    }
}
