//**
//* app.scss
//* Contains all of the core styles for the platform. Any style added
//* to this file will be inlined into the primary index.html in order
//* to prevent a possible jarring flash of unstyled content.
//* because we are importing them here, functions.scss and 
//* variables.scss share this property
//*//

@import 'variables';
@import 'functions';

html {
    font-size: $base-font-size;
}

body {

    @media (max-width: $device-max-break) {
        font-size: $min-base-font-size; //IE vmax fallback
        font-size: $device-font-size;

    }

    @media (min-width: $ultrawide-min-break) {
        font-size: $max-base-font-size;
    }
}

#cmwn-app {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    @font-face {
        font-family: "CMWNJadeRegular";
        src: url("http://changemyworldnow.education/sites/all/themes/cmwn/assets/fonts/cmwn_ulc-webfont.woff") format("woff"); 
    }


    .sweater, .global-header {
        background: #fff;
    }

    .sweater {
        max-width: $monitor-max-break;
        width: calc(100% - 2 * #{$standard});
        position: relative;
        padding: $standard;
        margin: 0;
        margin-bottom: 2 * $standard;
        left: 50%;
        transform: translateX(-50%);
    }

    .layout {
        display: flex;
        align-items: stretch;
    }

    .content {
        order: 2;
        flex-grow: 1;
        flex-shrink: 1;
        padding: $standard / 2;
    }

    .breadcrumb {
        padding: $standard / 2 $standard;
        background: #f5f5f5;
        border-radius: 4px;
        display: inline-block;
        margin: $standard / 2 0;
        font-size: 12px;

        a + a::before, a + span::before {
            content: " | ";
        }
    }

    .sidebar{
        order: 1;
        flex-grow: 0;
        flex-shrink: 0;
        padding: $standard / 2;

        nav {
            
            * {
                margin: $standard / 2 0
            }

            li:first-child {
                border-top: 1px solid rgb(84, 194, 242);
            }
            
            li {
                border-bottom: 1px solid rgb(84, 194, 242);
                padding: $standard / 2;

                a {
                    text-decoration: none;
                    color: rgb(84, 194, 242);
                    font-weight: bold;
                }
            }
        }
    }

    .profile-pic {
        @include no-text($profile-width, $profile-width);
        background-size: cover;
    }

    .global-header {
        position: relative;
        max-width: $monitor-max-break; 
    }

    .logo-pad {
        margin-top: -$standard;
        visibility:hidden;
        width: 100%;
    }

    .logo {
        width: calc(100% - #{$standard});
        color: transparent;
        max-width: $logo-max-width;

        a {
            color: transparent;
        }

        img {
            width: calc(100% - #{$logout_size});
        }
    }

    .menu, .logout {
        position: absolute;
        color: transparent;
        right: 0;
        top: 0;
        background-size: contain;

        a {
            color: transparent;
        }

        a span{
            position: absolute;
        }
        
        a img{
            width: $logout_size; 
        }
    }

    .menu {
        display: none;
        padding: $standard / 2;
        width: $logout-size - ($standard / 2);
        height: $logout-size - ($standard / 2);
        border: 0;

        .glyphicon {
            color: #000;
            font-size: 3em;
        }

        .fallback {
            display: inline-block;
            width: 0;
        }
    }

    .current-user-info {
        position: absolute;
        bottom: 15px;
        right: $standard;
        font-size: 0.7rem;
    }

    section {
    
        h3 {
            background: url(media/blue-header-bg.jpg);
            background-color: $cmwn-blue;
            background-size: 100% auto;
            padding: $standard / 2 $standard;
            color: #FFF;
        }
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
        background: url(media/blue-header-bg.jpg);
        background-color: $cmwn-blue;
        background-size: 100% auto;
        //border-right: 1px solid #fff;
        //border-top: 1px solid #ddd;
        
        td {
            padding: $standard / 2;
            //border-left: 1px solid #ddd;
        }

        thead {

            tr {
                color: #fff;
                font-size: 1.2rem;
                font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
            }

            td {
                white-space: pre;
                //border-left: #fff solid 1px;
            }
        }

        tbody {

            tr {
                //border-bottom: 1px solid #ddd; 
                background: #fff;

                td {
                    border-left: 2px solid #fff;
                    border-right: 2px solid #fff;
                }
                &:nth-child(even) {
                    background: #eee;

                    td {
                        border-left: 2px solid #eee;
                        border-right: 2px solid #eee;
                    }
                }
            }
        }


    }

    h1 {
        font-size: 2rem;
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
    }

    h2 {
        font-size: 1.7rem;
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
    }

    h3 {
        font-size: 1.5rem;
        font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
    }

    @media (max-width: $device-max-break) {
        font-size: $min-base-font-size; //IE vmax fallback
        //overflow: auto;

        .sweater {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .menu {
            display: block; 
        }

        .logout {
            display: none;
        }

        .content {
            padding: 0;
        }

        h1, h2, h3, h4, h5, .breadcrumb {
            margin-left: $standard;
        }

        .current-user-info {
            display: none;
        }

        .sidebar {
            padding: 0;
            background: #fff;
            position: fixed;
            top: 0;
            bottom: 0;
            right: -110%; //extra just to account for scrollbars
            width: 100%;
            overflow-y: scroll;
            transition: right  1s ease-in-out;
            min-height: 100vh;

            &.open {
                right: 0;
            }

        }


    }

    @media (min-width: $monitor-max-break) {
        background: #F8F8F8;

        .global-header {
            padding: 0 $standard;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

    }

    @media (min-width: $ultrawide-min-break) {
        
    }

    @media (min-width: $monitor-max-break) {
        
        .logo {
            margin-left: calc(((#{$monitor-max-break} - (100 * 1vw)) / 2) + 10px);
        }
    }

    @media (min-width: $monitor-max-break + (2 * $ultrawide-logo-offset)) {
    
        .logo {
            margin-left: -$ultrawide-logo-offset;
        }
    }

}

