/**
 * app.scss
 * Contains all of the core styles for the platform. Any style added
 * to this file will be inlined into the primary index.html in order
 * to prevent a possible jarring flash of unstyled content.
 * because we are importing them here, functions.scss and
 * variables.scss share this property
 */

@import 'variables';
@import 'functions';
@import 'ie9';

html {
    font-size: $base-font-size;
}

@font-face {
    font-family: "CMWNJadeRegular";
    src: url("/fonts/cmwn.woff") format("woff");
}

body {

    @media (max-width: $device-max-break) {
        font-size: $min-base-font-size; //IE vmax fallback
        font-size: $device-font-size;

    }

    @media (min-width: $ultrawide-min-break) {
        font-size: $max-base-font-size;
    }
}

h1, h2, h3 {
    font-family: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
}

#pageerror, #triggerederror {
    position: fixed;
    display: block;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    z-index: 2000;
    background-size: contain;
    border: 15px solid #fff;

    a {
        cursor: pointer;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    &.error403 {
        background-image: url("media/403_error.png");
    }
    &.error404 {
        background-image: url("media/404_error.png");
    }
    &.error500 {
        background-image: url("media/500_error_alt.png");

        a {
            bottom: 42vh;
        }

        a.gohome {
            top: 58vh;
            bottom: 0px;
        }
    }
    &.applicationerror {
        background-image: url("media/generic_error_alt.png");
    }
}

#pageerror {
    opacity: 0;
    background: url("media/generic_error.png") #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadein 1s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1}
}

#cmwn-app {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;



    .sweater, .global-header {
        background: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,.2);

    }

    .sweater, .sweater .content {
        padding: 0;
    }

    .sweater, .sweater .content {
        padding: 0;
    }

    .sweater {
        max-width: $monitor-max-break;
        position: relative;
        padding: $standard;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2 * $standard;

        .content, .sidebar {
            padding-bottom: $standard;
        }
    }

    .layout {
        display: flex;
        margin-bottom: 4 * $standard;
        align-items: stretch;
    }

    .content {
        order: 2;
        flex-grow: 1;
        flex-shrink: 1;
        padding: $standard / 2;
    }


    .breadcrumb {
        padding: $standard / 2 $standard;
        background: #f5f5f5;
        border-radius: 4px;
        display: inline-block;
        margin: $standard / 2 0;
        font-size: 12px;

        display: none;

        a + a::before, a + span::before {
            content: " | ";
        }
    }

    a {
        cursor: pointer;
    }

    img {
        user-drag: none;
    }

    .sidebar{
        order: 1;
        flex-grow: 0;
        flex-shrink: 0;
        padding: $standard / 2;

        nav {

            * {
                margin: $standard / 2 0
            }

            li:first-child {
                border-top: 1px solid rgb(84, 194, 242);
            }

            li {
                border-bottom: 1px solid rgb(84, 194, 242);
                padding: $standard / 2;

                a {
                    text-decoration: none;
                    color: rgb(84, 194, 242);
                    font-weight: bold;
                }
            }
        }
    }

    .profile-pic {
        @include no-text($profile-width, $profile-width);
        background-size: cover;
    }

    .global-header {
        position: relative;
        max-width: $monitor-max-break;
        height: 120px;
        z-index: 1;
    }

    .global-header:after {
        display: block;
        background: #fff;
        height: 15px;
        width: 100%;
        content: " ";
        position: absolute;
        bottom: -12px;
        left: 0;
        right: 0;
    }

    .global-footer {
        order: 666;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px;
        border-top: 5px solid $cmwn-blue;

        .links {
            a,
            a:active,
            a:visited {
                font-size: 13px;
                color: #000;
            }

            a:not(:last-child) {
                margin-right: 5px;
                padding-right: 5px;
                border-right: solid 1px #000;
            }
        }
    }

    .logo-pad {
        margin-top: -$standard;
        visibility:hidden;
        width: 100%;
    }

    .logo, .headerLogo {
        z-index: $z-nav + 4;
        display: inline-flex;
        color: transparent;

        a {
            color: transparent;
            width: 100%
        }

        .read {
            width: 0px;
        }
    }

    .logo {
        width: 22vmin;
        min-width: 180px;
        max-width: 210px;
        position: relative;

        img {
            width: 100%;
        }
    }

    .headerLogo {
        width: calc(100% - 180px - 8em);
        vertical-align: middle;
        margin-top: 8px;
        margin-left: 30px;

        img {
            width: 100%;
        }
    }

    .menu, .logout {
        position: absolute;
        color: transparent;
        right: 0;
        top: 0;
        background-size: contain;

        a {
            color: transparent;
        }

        a span{
            position: absolute;
        }

        a img{
            width: $logout_size;
        }
    }

    .menu {
        z-index: $z-nav + 1;
        display: none;
        padding: $standard / 2;
        width: $logout-size - ($standard / 2);
        height: $logout-size - ($standard / 2);
        border: 0;

        .glyphicon {
            color: #000;
            font-size: 3em;
        }

        .fallback {
            display: inline-block;
            width: 0;
        }
    }

    .current-user-info {
        position: absolute;
        bottom: 15px;
        right: $standard;
        font-size: 0.7rem;
    }

    section {

        h3 {
            background: url(media/blue-header-bg.jpg);
            background-color: $cmwn-blue;
            background-size: 100% auto;
            padding: $standard / 2 $standard;
            color: #FFF;
            text-transform: uppercase;
        }
    }


    h1, h2, h3 {
        font-family: $cmwn-jade-font;
        filter: blur(0);
        -webkit-font-smoothing: antialiased;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .right {
        float: right;
    }

    .left {
        float: left;
    }

    .clear {
        clear: both;
    }

    @media (max-width: $device-max-break) {
        font-size: $min-base-font-size; //IE vmax fallback
        //overflow: auto;

        .sweater {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .global-header:after {
            background: none;
        }

        .layout {
            padding-bottom: 4 * $standard;
        }

        .blocker {
            display: none;
        }

        .menu {
            display: block;
        }

        .logout {
            display: none;
        }

        .headerLogo {
            padding: 0;
            margin-left: 0;
            width: calc(100% - 180px - 8em);
        }

        .content {
            padding: 0;
        }

        h1, h2, h3, h4, h5, .breadcrumb {
            margin-left: $standard;
        }

        .current-user-info {
            display: none;
        }

        .sidebar {
            padding: $standard;
            border-bottom: ($standard * 4) solid #fff;
            background: #fff;
            position: fixed;
            top: 0;
            bottom: 0;
            right: -110%; //extra just to account for scrollbars
            width: 100%;
            overflow-y: scroll;
            transition: right  1s ease-in-out;
            height: 100vmax;
            z-index:  $z-nav;

            &.open {
                right: 0;
            }

        }

        .flip.fill {
            max-width: 100%;

            img, object, .item, .overlay {
                max-width: 100%;
            }
        }

    }

    @media (min-width: $monitor-max-break) {
        .global-header {
            padding: 0 $standard;
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (min-width: $ultrawide-min-break) {

    }

    @media (min-width: $monitor-max-break) {

        .logo {
            margin-left: calc(((#{$monitor-max-break} - (100 * 1vw)) / 2) + 10px);
        }
    }

    @media (min-width: $monitor-max-break + (2 * $ultrawide-logo-offset)) {

        .logo {
            margin-left: -$ultrawide-logo-offset;
        }
    }

}


