///**
// * app.scss
// * Contains all of the core styles for the platform. Any style added
// * to this file will be inlined into the primary index.html in order
// * to prevent a possible jarring flash of unstyled content.
// * because we are importing them here, functions.scss and
// * variables.scss share this property
// */

@import 'variables';
@import 'functions';
@import 'ie9';

html {
    font-size: $base-font-size;
}

@font-face {
    font-family: 'CMWNJadeRegular';
    src: url('/fonts/cmwn.woff') format('woff');
}

body {

    @media (max-width: $device-max-break) {
        font-size: $min-base-font-size; //IE vmax fallback
        font-size: $device-font-size;

    }

    @media (min-width: $ultrawide-min-break) {
        font-size: $max-base-font-size;
    }
}

h1,
h2,
h3 {
    font-family: 'CMWNJadeRegular', Impact, Helvetica, Arial, sans-serif;
}

// scss-lint:disable IdSelector
#pageerror,
#triggerederror {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    border: 15px solid $cmwn-white;
    background-color: $cmwn-white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    a {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }

    &.error403 {
        background-image: url('media/403_error.png');
    }

    &.error404 {
        background-image: url('media/404_error.png');
    }

    &.error500 {
        background-image: url('media/500_error_alt.png');

        a {
            bottom: 42vh;

            &.gohome {
                top: 58vh;
                bottom: 0;
            }
        }

    }

    &.applicationerror {
        background-image: url('media/generic_error_alt.png');
    }
}

#pageerror {
    animation: fadein 1s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
    background: url('media/generic_error.png') $cmwn-white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

#cmwn-app {
    // scss-lint:enable IdSelector
    min-height: 100vh;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;

    .sweater,
    .global-header {
        // scss-lint:disable ColorVariable
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        background: $cmwn-white;
        // scss-lint:enable ColorVariable
    }

    .sweater,
    .sweater .content {
        padding: 0;
    }

    .sweater {
        position: relative;
        margin: 0;
        margin-right: auto;
        margin-bottom: 2 * $standard;
        margin-left: auto;
        padding: $standard;
        max-width: $monitor-max-break;

        .content,
        .sidebar {
            padding-bottom: $standard;
        }
    }

    .layout {
        display: flex;
        margin-bottom: 4 * $standard;
        align-items: stretch;
    }

    .content {
        // scss-lint:disable all
        padding: $standard / 2;
        order: 2;
        flex-grow: 1;
        flex-shrink: 1;
        // scss-lint:enable all
    }


    .breadcrumb {
        display: none;
        margin: $standard / 2 0;
        border-radius: 4px;
        background: $rule-medium-gray;
        padding: $standard / 2 $standard;
        font-size: 12px;


        a + a::before,
        a + span::before {
            content: ' | ';
        }
    }

    a {
        cursor: pointer;
    }

    img {
        user-drag: none;
    }

    .sidebar {
        // scss-lint:disable all
        padding: $standard / 2;
        order: 1;
        flex-grow: 0;
        flex-shrink: 0;
        // scss-lint:enable all

        nav {

            * {
                margin: $standard / 2 0;
            }

            li:first-child {
                border-top: 1px solid $cmwn-blue;
            }

            li {
                border-bottom: 1px solid $cmwn-blue;
                padding: $standard / 2;
            }

            a {
                text-decoration: none;
                color: $cmwn-blue;
                font-weight: bold;
            }
        }
    }

    .profile-pic {
        @include no-text($profile-width, $profile-width);
        background-size: cover;
    }

    .global-header {
        position: relative;
        z-index: 1;
        max-width: $monitor-max-break;
        height: 120px;
    }

    .global-header::after {
        display: block;
        position: absolute;
        right: 0;
        bottom: -12px;
        left: 0;
        // scss-lint:disable all
        background: #fff;
        // scss-lint:enable all
        width: 100%;
        height: 15px;
        content: '';
    }

    .global-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        border-top: 5px solid $cmwn-blue;
        padding: 15px;
        width: 100%;
        order: 666;

        .links {
            a,
            a:active,
            a:visited {
                color: $cmwn-black;
                font-size: 13px;
            }

            a:not(:last-child) {
                margin-right: 5px;
                border-right: solid 1px $cmwn-black;
                padding-right: 5px;
            }
        }
    }

    .logo-pad {
        visibility: hidden;
        margin-top: -$standard;
        width: 100%;
    }

    .logo,
    .header-logo {
        //width: calc(100% - #{$standard});
        display: inline-flex;
        z-index: $z-nav + 4;
        max-width: $logo-max-width;
        color: transparent;

        a {
            width: 100%;
            color: transparent;
        }

        .read {
            width: 0;
        }
    }

    .logo {
        position: relative;
        width: 22vmin;
        min-width: 180px;
        max-width: 210px;

        img {
            width: 100%;
        }
    }

    .header-logo {
        margin-top: 8px;
        margin-left: $standard * 2;
        width: calc(100% - 180px - 8em);
        vertical-align: middle;

        img {
            width: 100%;
        }
    }

    .menu,
    .logout {
        position: absolute;
        top: 0;
        right: 0;
        background-size: contain;
        color: transparent;

        a {
            color: transparent;

            span {
                position: absolute;
            }

            img {
                width: $logout-size;
            }
        }


    }

    .menu {
        display: none;
        z-index: $z-nav + 1;
        border: 0;
        padding: $standard / 2;
        width: $logout-size - ($standard / 2);
        height: $logout-size - ($standard / 2);

        .glyphicon {
            color: $cmwn-black;
            font-size: 3em;
        }

        .fallback {
            display: inline-block;
            width: 0;
        }
    }

    .current-user-info {
        position: absolute;
        right: $standard;
        bottom: 15px;
        font-size: .7rem;
    }

    section {

        h3 {
            background: url('media/blue-header-bg.jpg');
            background-color: $cmwn-blue;
            background-size: 100% auto;
            padding: $standard / 2 $standard;
            text-transform: uppercase;
            color: $cmwn-white;
        }
    }


    h1,
    h2,
    h3 {
        font-family: $cmwn-jade-font;
        -webkit-font-smoothing: antialiased;
        filter: blur(0);
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .right {
        float: right;
    }

    .left {
        float: left;
    }

    .clear {
        clear: both;
    }

    .placeholder {
        padding: $standard;
    }

    @media (max-width: $device-max-break) {
        font-size: $min-base-font-size; //IE vmax fallback
        //overflow: auto;

        .sweater {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .global-header::after {
            background: none;
        }

        .layout {
            padding-bottom: 4 * $standard;
        }

        .blocker {
            display: none;
        }

        .menu {
            display: block;
        }

        .logout {
            display: none;
        }

        .header-logo {
            margin-left: 0;
            padding: 0;
            width: calc(100% - 180px - 8em);
        }

        .content {
            padding: 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        .breadcrumb {
            margin-left: $standard;
        }

        .current-user-info {
            display: none;
        }

        .sidebar {
            position: fixed;
            top: 0;
            right: -110%; //extra just to account for scrollbars
            bottom: 0;
            transition: right  1s ease-in-out;
            z-index: $z-nav;
            border-bottom: ($standard * 4) solid $cmwn-white;
            background: $cmwn-white;
            padding: $standard;
            width: 100%;
            height: 100vmax;
            overflow-y: scroll;

            &.open {
                right: 0;
            }

        }

        .flip.fill {
            max-width: 100%;

            img,
            object,
            .item,
            .overlay {
                max-width: 100%;
            }
        }

    }

    @media (min-width: $monitor-max-break) {
        .global-header {
            position: relative;
            margin-right: auto;
            margin-left: auto;
            padding: 0 $standard;
        }
    }

    @media (min-width: $ultrawide-min-break) {

    }

    @media (min-width: $monitor-max-break) {

        .logo {
            margin-left: calc(((#{$monitor-max-break} - (100 * 1vw)) / 2) + 10px);
        }
    }

    @media (min-width: $monitor-max-break + (2 * $ultrawide-logo-offset)) {

        .logo {
            margin-left: -$ultrawide-logo-offset;
        }
    }

    @media (max-width: $device-portrait-break + 2 * $standard) {
        .header-logo {
            display: none;
        }
    }

}


