//**
//* variables.scss
//* contains all globally used colors, measuerments, etc
//**//

$cmwn-jade-font: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
//*************************colors************************
$cmwn-blue: #2CC4F4;
$cmwn-blue-light: lighten(#2CC4F4, 10%);
$cmwn-blue-dark: darken(#2CC4F4, 10%);
$cmwn-green: #47B72C;
$cmwn-purple: #7829BB;
$rule-light-gray: #E6E6E6; // 10% Gray
$copy-medium-gray: #666; // 60% Gray
//************************measures**********************
//page
$standard: 15px;
$monitor-max-break: 985px;
$ultrawide-min-break: 1800px; //vmax = 18px
$device-max-break: 667px; //iphone landscape
$device-portrait-break: 414px; //iphone portrait
//element
$profile-width: 172px;
$logout-size: 70px;
$logo-max-width: 900px;
$ultrawide-logo-offset: 82px; //max width without needing a non-transparent logo image
$flip-standard-size: 200px;
$max-flip-size: 359px; //Completely arbitrary maximum. Taken from flip image width
//font
$min-base-font-size: 12px;
$device-font-size: 2vmax;
$base-font-size: 15px;
$max-base-font-size: 18px;
