//**
//* variables.scss
//* contains all globally used colors, measuerments, etc
//**//

//*************************colors************************

//************************measures**********************
//page
$standard: 15px;
$monitor-max-break: 985px;
$ultrawide-min-break: 2048px; //totally arbitrary
$device-max-break: 667px; //iphone landscape
//element
$profile-width: 172px;
$logo-aspect: calc(950px / 137px);

