//**
//* variables.scss
//* contains all globally used colors, measuerments, etc
//**//
// scss-lint:disable all

$cmwn-jade-font: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
//*************************colors************************

$cmwn-blue: #2cc4f4;
$cmwn-blue-light: lighten($cmwn-blue, 10%);
$cmwn-blue-dark: darken($cmwn-blue, 10%);
$cmwn-green: #47b72c;
$cmwn-purple: #7829bb;
$rule-medium-gray: #f5f5f5;
$rule-light-gray: #e6e6e6; // 10% Gray
$copy-medium-gray: #666; // 60% Gray
$cmwn-black: #000;
$cmwn-gray: #808080;
$cmwn-white: #fff;
$cmwn-purple: #7829bb;
$cmwn-lighter-purple: rgba(120, 81, 147, .9);
$cmwn-lighter-green: rgba(71, 183, 44, .9);
$cmwn-trans: rgba(0, 0, 0, 0);
$cmwn-other-trans: rgba(0, 0, 0, 0) 80%;
$cmwn-trans-gray: rgba(0, 0, 0, .5);
$cmwn-trans-medium-gray: rgba(0, 0, 0, .35) 0%;
$cmwn-light-gray: rgba(0, 0, 0, .2);
$cmwn-medium-gray: rgba(0, 0, 0, .6);
$cmwn-more-trans-gray: rgba(0, 0, 0, .35);
$cmwn-trans: rgba(0, 0, 0, 0);
$cmwn-lighter-blue: rgba(46, 163, 242, .5);
$cmwn-medium-blue: rgba(46, 163, 242, .9);
$cmwn-medium-green: rgba(71, 183, 44, .9);
$cmwn-medium-purple: rgba(120, 81, 147, .9);
$cmwn-off-white: #eee;
$cmwn-dark-gray: #333;

//************************measures**********************
//page
$standard: 15px;
$monitor-max-break: 985px;
$ultrawide-min-break: 1800px; //vmax = 18px
$device-max-break: 667px; //iphone landscape
$device-portrait-break: 414px; //iphone portrait
//element
$profile-width: 172px;
$logout-size: 70px;
$logo-size: 165px;
$logo-max-width: 900px;
$ultrawide-logo-offset: 82px; //max width without needing a non-transparent logo image
$flip-standard-size: 200px;
$max-flip-size: 359px; //Completely arbitrary maximum. Taken from flip image width
//font
$min-base-font-size: 12px;
$device-font-size: 2vmax;
$base-font-size: 15px;
$max-base-font-size: 18px;
//z-index scopes (note that bootstrap styles start at 1000)
$z-nav: 500;
$z-override: 1100;
$z-bootstrap: 1000;

$game-responsive-width-portrait: calc(50vmin * 1.77);
$game-responsive-height-portrait: 50vmin;
$game-fullscreen-width-portrait: 100vmin;
$game-fullscreen-height-portrait: calc(100vmin * .5625);

$game-responsive-width-landscape: calc(50vmax * 1.77);
$game-responsive-height-landscape: 50vmax;
$game-fullscreen-width-landscape: 100vmax;
$game-fullscreen-height-landscape: calc(100vmax * .5625);

$iphone2g-4s-min-width: 320px;
$iphone2g-4s-max-width: 480px;
$game-fullscreen-height-landscape-iphone2g-4s: calc(85vmax * .5625);

$iphone5-min-width: 320px;
$iphone5-max-width: 568px;
$game-fullscreen-height-landscape-iphone5: calc(72vmax * .5625);

$iphone6-min-width: 375px;
$iphone6-max-width: 667px;
$game-fullscreen-height-landscape-iphone6: calc(100vmax * .5625);

$iphone6plus-min-width: 414px;
$iphone6plus-max-width: 736px;
$game-fullscreen-height-landscape-iphone6plus: calc(100vmax * .5625);
