//**
//* variables.scss
//* contains all globally used colors, measuerments, etc
//**//
// scss-lint:disable all

$cmwn-jade-font: "CMWNJadeRegular", Impact, Helvetica, Arial, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$source-sans-pro: "Source Sans Pro", Helvetica, Arial, sans-serif;
//*************************colors************************
$cmwn-blue: #2CC4F4;
$cmwn-blue-light: lighten(#2CC4F4, 10%);
$cmwn-blue-dark: darken(#2CC4F4, 10%);
$cmwn-red: #fc0000;
$cmwn-green: #47b72c;
$cmwn-lime: #00ff00;
$rule-light-gray: #e6e6e6; // 10% Gray
$copy-medium-gray: #666; // 60% Gray
$cmwn-black: #000;
$cmwn-gray: #808080;
$cmwn-white: #fff;
$cmwn-purple: #7829bb;
$cmwn-lighter-purple: rgba(120, 81, 147, .9);
$cmwn-lighter-green: rgba(71, 183, 44, .9);
$cmwn-dark-green: rgb(65,136,56);
$cmwn-trans: rgba(0, 0, 0, 0);
$cmwn-other-trans: rgba(0, 0, 0, 0) 80%;
$cmwn-trans-gray: rgba(0, 0, 0, .5);
$cmwn-trans-medium-gray: rgba(0, 0, 0, .35) 0%;
$cmwn-light-gray: rgba(0, 0, 0, .2);
$cmwn-medium-gray: rgba(0, 0, 0, .6);
$cmwn-more-trans-gray: rgba(0, 0, 0, .35);
$cmwn-trans: rgba(0, 0, 0, 0);
$cmwn-lighter-blue: rgba(46, 163, 242, .5);
$cmwn-medium-blue: rgba(46, 163, 242, .9);
$cmwn-medium-green: rgba(71, 183, 44, .9);
$cmwn-medium-purple: rgba(120, 81, 147, .9);
$cmwn-off-white: #eee;
$cmwn-dark-gray: #333;
$cmwn-light-blue: #8cdffd;
$cmwn-slight-lighter-blue: #0280ae;
$cmwn-dark-blue: #00719a;
$cmwn-light-purple: #c380ff;
$cmwn-lighter-purple: #d5a4ff;
$cmwn-blue-green: #04d4da;
$cmwn-deep-blue: #0a86b7;
$cmwn-shady: rgba(0, 0, 0, .5);

//************************measures**********************
//page
$standard: 15px;
$monitor-max-break: 985px;
$ultrawide-min-break: 1800px; //vmax = 18px
$device-max-break: 736px; //iphone landscape
$device-portrait-break: 414px; //iphone portrait
//element
$profile-width: 185px;
$sidebar-max-width: 200px;
$logout-size: 70px;
$logo-size: 165px;
$logo-max-width: 900px;
$ultrawide-logo-offset: 82px; //max width without needing a non-transparent logo image
$flip-standard-size: 200px;
$max-flip-size: 359px; //Completely arbitrary maximum. Taken from flip image width
//font
$min-base-font-size: 12px;
$device-font-size: 2vmax;
$base-font-size: 15px;
$max-base-font-size: 18px;
$game-overlay-text: 30px;
//z-index scopes (note that bootstrap styles start at 1000)
$z-nav: 500;
$z-over-game: 1200;
$z-override: 1100;
$z-bootstrap: 1000;
$sweater-height: 717px;

$game-responsive-width-portrait: calc(50vmin * 1.77);
$game-responsive-height-portrait: 50vmin;
$game-fullscreen-width-portrait: 100vmin;
$game-fullscreen-height-portrait: calc(100vmin * .5625);
// ie fallback
$game-responsive-width-portrait-ie: calc(50vm * 1.77);
$game-responsive-height-portrait-ie: 50vm;
$game-fullscreen-width-portrait-ie: 100vm;
$game-fullscreen-height-portrait-ie: calc(100vm * 0.5625);

$game-responsive-width-landscape: calc(50vw * 1.77);
$game-responsive-width-max: 100%; // max out at 985px (max width of sweater)
$game-responsive-height-landscape: 50vw;
$game-responsive-height-max: 554px; // preserve 9:16 ratio of max sweater width (985px)
$game-fullscreen-width-landscape: 100vmax;
$game-fullscreen-height-landscape: calc(100vmax * .5625);
// ie fallback
$game-responsive-width-landscape-ie: calc(50vw * 1.77);
$game-responsive-height-landscape-ie: 50vw;
$game-fullscreen-width-landscape-ie: 100vw;
$game-fullscreen-height-landscape-ie: calc(100vw * 0.5625);

$iphone2g-4s-min-width: 320px;
$iphone2g-4s-max-width: 480px;
$game-fullscreen-height-landscape-iphone2g-4s: calc(85vw * .5625);

$iphone5-min-width: 320px;
$iphone5-max-width: 568px;
$game-fullscreen-height-landscape-iphone5: calc(72vmax * .5625);

$iphone6-min-width: 375px;
$iphone6-max-width: 667px;
$game-fullscreen-height-landscape-iphone6: calc(100vmax * .5625);

$iphone6plus-min-width: 414px;
$iphone6plus-max-width: 736px;
$game-fullscreen-height-landscape-iphone6plus: calc(100vmax * .5625);

$media-url: 'https://media.changemyworldnow.com/f/';
