@import 'variables';

.edit-student {

    a {
        color: $cmwn-purple;
    }

    .panel-body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        & > * {
            flex: 1 0 275px;//arbitrary, looks good as a breakpoint
            position: relative;
        }

        .right {
            z-index: 2;

            label, span, h3, h2, p, a { //fixes a horrible chrome/osx font aliasing issue http://stackoverflow.com/questions/8024061/webkit-blurry-text-with-css-scale-translate3d
                transform: translate3d(0, 0, 0);
                filter: blur(0);
                -webkit-filter: blur(0);
            }

            .input-group-addon {
                padding: 0;
                margin: 0;
                border: 0;
            }

            .has-addon {

                .form-control-feedback:before {
                    margin-left: -75px;
                }
            }
        }

        .left {
            z-index: 1;

            & > * {
                position: relative;
                text-align: center;
            }

            & > p {
                padding-top: $standard;
                padding-left: $standard / 3;
            }
        }


    }

    .profile-image {
    }

    .below {
        padding-top: $standard;
        padding-left: $standard / 3;
        text-decoration: underline;
        color: $cmwn-purple;
        cursor: pointer;
    }

    .user-metadata {
        font-size: 1rem;
        padding: 1rem;
        color: #2CC4F4;
    }

    .user-metadata  .field {
        background: url(/f427849b8caaa9e4cba74e927cba4b6e.jpg);
        border-radius: 5px;
        color: #fff;
        padding: 0 .5rem;
        font-size: 1.25rem;
        box-shadow: 0px 0px 6px rgba(46, 163, 242, 0.9)
    }

    .user-metadata-btn, .user-metadata-btn:hover {
        margin-top: 1rem;
        background: #47B72C;
        color: #fff;
        font-weight: 700;
        border: none;
    }
}
