@import '../../variables';

// additional arbitrary break point that seems to work best with the defaults in variables
$halfway-break-1: 826px;
$halfway-break-2: 540px;
$frame: '#{$media-url}c7dc7612fcdcfab9cee9dd3d83fa2141.png';
$reset-header: '#{$media-url}13e1aa3c8a96389d0e5f9436e56110cc.png';
$reset-btn: '#{$media-url}99bf313e31417ea15295ea7a5c416e85.png';
$reset-btn-hvr: '#{$media-url}3975487f51b441024a9ae13d3d68ba7d.png';
$btns: '#{$media-url}0c7044bc6e88f37a8910966dba68fe47.png';

#cmwn-app .edit-profile { // scss-lint:disable IdSelector
    .content,
    .panel {
        background: $cmwn-green;
    }

    .panel {
        margin-bottom: 0;
        box-shadow: none;
    }

    a {
        color: $cmwn-purple;
    }

    .panel-heading {
        border: 0;
    }

    label {
        text-transform: uppercase;
        color: $cmwn-white;
        font-family: $cmwn-jade-font;
        font-size: 1.25rem;
    }

    .form-control:not(.birthday-input) {
        outline: none;
        border: 0;
        border-radius: 0;
        background-color: $cmwn-white;
        height: 40px;
        color: $cmwn-black;
        font-size: 1.25rem;
    }

    .left.profile-image-container {
        position: relative;
        border: 1px solid $cmwn-white;
        width: 45%;
        text-align: center;

        &::before {
            top: 0;
            bottom: 0;
            left: 50%;
            border-left: 1px dotted $cmwn-white;
            content: '';
        }

        .profile-image {
            padding: 30px;

            &::before {
                position: absolute;
                top: 50%;
                right: 0;
                left: 0;
                border-top: 2px dotted $cmwn-white;
                content: '';
            }
        }

        .profile-pic {
            position: relative;
            border: 2px solid $cmwn-white;
            border-radius: 2px;
            background-size: 100% auto;
            padding: 0 0 85%;
            width: 100%;
            height: auto;
        }

        .action-link {
            position: relative;
            z-index: 1;
        }
    }

    .right.user-fields {
        position: relative;
        padding: 0 $standard;
        width: 55%;

        .username-label,
        .username,
        .update-username-btn {
            display: block;
            font-family: $cmwn-jade-font;
        }

        .username-container {
            margin-bottom: 2%;
        }

        .username-display {
            position: relative;
            top: 4px;
        }

        .username-label {
            margin: 6px 0 0;
            color: $cmwn-white;
            font-size: 1.25rem;
        }

        .username {
            line-height: $standard * 2;
            color: $cmwn-purple;
            font-size: 1.5rem;
        }

        .update-username-btn {
            position: relative;
            float: right;
            z-index: 1;
            border: 0;
            border-radius: 14px;
            box-shadow: -2px 2px 8px -3px $cmwn-black;
            background: $cmwn-blue;
            padding: 3px 15px;
            color: $cmwn-white;
            font-size: 1rem;
        }

        .update-username-btn:hover,
        .update-username-btn:focus,
        .update-username-btn:active,
        .update-username-btn:active:focus {
            outline: none;
            border: 0;
        }

        .update-user-metadata-btn {
            position: relative;
            float: right;
            margin: $standard 0;
            outline: 0;
            border: 0;
            background: url($btns);
            background-position: 633px 398px;
            width: 140px;
            height: 44px;
            color: transparent;
        }

        .update-user-metadata-btn:hover,
        .update-user-metadata-btn:focus,
        .update-user-metadata-btn:active,
        .update-user-metadata-btn:active:focus {
            outline: none;
            border: 0;
            background-position: 1115px 398px;
        }

        form {
            border-top: 1px solid $cmwn-white;
            border-bottom: 1px solid $cmwn-white;
            padding: $standard 0;
        }
    }

    .dropdown-datepicker {
        .form-group {
            display: inline-block;
            position: relative;
            background: url('../../media/edit_profile/dropdown_arrows.png');
            background-repeat: no-repeat;
            background-position: 218% 0;
            background-size: 63% 100%;
            width: 33%;
            height: 40px;

            &::before {
                position: absolute;
                left: 0;
                outline: none;
                border: 0;
                box-shadow: none;
                background: $cmwn-white;
                width: 80%;
                height: 100%;
                content: '';
            }
        }

        .birthday-input {
            position: relative;
            outline: none;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            background: transparent;
            width: 100%;
            height: 40px;
            color: $cmwn-black;
            font-size: 1.25rem;
        }
    }

    .birthday-input {
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    .current-username-container {
        position: relative;
        clear: both;
        margin-bottom: $standard;
        font-family: $cmwn-jade-font;

        h1 {
            margin: 0;
            color: $cmwn-white;
            font-size: 1.25rem;
        }

        span {
            line-height: $standard * 2;
            color: $cmwn-purple;
            font-size: 1.5rem;
        }
    }

    .change-password {
        position: relative;
        margin-bottom: 0;

        .panel-body {
            padding: 0;
        }

        form {
            width: 50%;
        }

        .toggle-characters {
            display: none;

            &:checked ~ span::before {
                background-color: $cmwn-dark-blue;
            }
        }
    }

    .radio span {
        vertical-align: middle;
        font-size: 1rem;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: border .25s linear;
            border: 1px dashed $cmwn-white;
            background-color: $cmwn-blue-light;
            width: $standard;
            height: $standard;
            content: '';
        }
    }

    .update-password-btn {
        position: relative;
        outline: 0;
        border: 0;
        background: url($btns);
        background-position: 633px 398px;
        width: 140px;
        height: 44px;
        color: transparent;
    }

    .update-password-btn:hover,
    .update-password-btn:focus,
    .update-password-btn:active {
        outline: none;
        border: 0;
        box-shadow: none;
        background-position: 1115px 398px;
    }

    @media (min-width: $halfway-break-1) and (max-width: $monitor-max-break),
    (min-width: $halfway-break-2) and (max-width: $device-max-break) {
        .left.profile-image-container .profile-image::before {
            right: -13%;
            left: -13%;
        }

        .change-password span {
            font-size: .75rem;
        }
    }

    @media (min-width: $halfway-break-1) and (max-width: $monitor-max-break) {
        label {
            font-size: 1rem;
        }

        .form-control {
            height: 30px;
            font-size: 1rem;
        }

        .right.user-fields {
            .username-label {
                font-size: 1rem;
            }

            .username {
                font-size: 1.25rem;
            }

            .update-username-btn {
                font-size: 1rem;
            }
        }
    }

    @media (min-width: $halfway-break-2) and (max-width: $device-max-break) {
        label {
            font-size: .75rem;
        }

        .form-control {
            height: 25px;
            font-size: .75rem;
        }

        .right.user-fields {
            .username-label {
                font-size: .75rem;
            }

            .username {
                font-size: 1rem;
            }

            .update-username-btn {
                font-size: .75rem;
            }
        }
    }

    @media (min-width: $device-portrait-break) and (max-width: $halfway-break-2),
    (max-width: $device-portrait-break),
    (min-width: $device-max-break) and (max-width: $halfway-break-1) {
        .left.profile-image-container,
        .current-username-container,
        .change-password {
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
        }

        .left.profile-image-container {

            .profile-image::before {
                right: -15%;
                left: -15%;
            }
        }

        .right.user-fields {
            right: 50%;
            clear: both;
            transform: translateX(50%);
            margin-top: 5%;
            width: 90%;
        }

        .change-password {
            padding: 0 $standard;

            form {
                width: 100%;
            }
        }

        .current-username-container {
            padding: $standard;
        }
    }

    @media (min-width: $device-max-break) and (max-width: $halfway-break-1) {
        .form-control {
            height: 30px;
            font-size: 1rem;
        }


        .left.profile-image-container {
            width: 50%;

            .profile-image::before {
                right: -15%;
                left: -15%;
            }
        }

        .right.user-fields {

            .username-display {
                top: 6px;
            }
        }
    }


    @media (min-width: $device-portrait-break) and (max-width: $halfway-break-2) {
        .left.profile-image-container {
            width: 50%;
        }
    }

    @media (max-width: $device-portrait-break) {
        label {
            font-size: .75rem;
        }

        .form-control {
            height: 25px;
            font-size: .75rem;
        }

        .left.profile-image-container {
            width: 75%;
        }

        .right.user-fields {

            .username-label {
                font-size: .75rem;
            }

            .username {
                font-size: 1rem;
            }

            .update-username-btn {
                font-size: .75rem;
            }
        }

        .current-username-container {

            h1 {
                font-size: 1rem;
            }

            span {
                font-size: 1.25rem;
            }
        }

        .change-password {

            span {
                font-size: .75rem;
            }
        }
    }
}

.swal2-modal.confirm-re-login {
    // scss-lint:disable ImportantRule
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0 !important;
    background: url($frame) !important;
    background-size: 100% 100% !important;
    width: 70% !important;
    max-width: 700px;
    height: 400px;
    // scss-lint:enable ImportantRule

    &::after {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        background: url($reset-header);
        background-repeat: no-repeat;
        background-size: contain;
        width: 33%;
        height: 16%;
        content: '';
    }

    .swal2-content {
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        color: $cmwn-deep-blue;
        font-family: $cmwn-jade-font;
        font-size: 32px;
    }

    .swal2-confirm {
        position: absolute;
        bottom: 14%;
        left: 50% !important; // scss-lint:disable ImportantRule
        transform: translateX(-55%);
        outline: none;
        box-shadow: none;
        background: url($reset-btn);
        background-color: transparent !important; // scss-lint:disable ImportantRule
        background-repeat: no-repeat;
        background-size: contain;
        width: 26%;
        height: 15%;
        color: transparent;

        &:hover {
            background: url($reset-btn-hvr);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

@media (max-width: $halfway-break-1) {
    .swal2-modal.confirm-re-login {
        width: 100% !important; // scss-lint:disable ImportantRule
    }
}

@media (max-width: $halfway-break-2) {
    .swal2-modal.confirm-re-login {
        height: 250px;

        .swal2-content {
            font-size: 20px;
        }
    }
}
