@import 'variables';

$halfway-break-1: 885px;

$media: '#{$media-url}PlatformArt/discoveryPAGE/desktop/';

$background: '#{$media}images/blue.gradient.png';
$trophcase-shelf: '#{$media}images/main.shelf.png';
$shelf: '#{$media}images/white.shelf.png';
$trophy: '#{$media}images/trophy.png';
$nav-btns: '#{$media}sprites/buttons.png';

.discover-flips {
    .flip-wall {
        background: url($background);
        background-size: 100% 100%;

        .mobile {
            display: none;
        }

        .panel-body {
            position: relative;
            padding: 0;
        }

        .edit-profile-btn,
        .profile-btn {
            outline: none;
            border: 0;
            box-shadow: 0 0 10px $cmwn-black;
            padding: $standard + 5 $standard;
            width: 100%;
            text-transform: uppercase;
            color: $cmwn-white;

            span {
                display: inline-block;
            }
        }

        .edit-profile-btn {
            background: $cmwn-purple;
            text-align: left;
            font-size: 11px;

            .tap-to-view {
                position: absolute;
                right: 12%;
                float: right;
            }

            &::after {
                position: absolute;
                top: 0;
                right: 0;
                width: 10%;
                height: 100%;
                color: $cmwn-lime;
                font-size: 45px;
                content: 'X';
            }
        }

        .notice {
            position: absolute;
            padding: $standard;
            width: 100%;
            text-align: center;
            font-weight: 900;

            span {
                position: absolute;
                text-decoration: underline;
            }

            span:nth-of-type(1) {
                left: 31%;
            }

            span:nth-of-type(3) {
                left: 56%;
            }

            .btn {
                top: 80%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                background: url($nav-btns);
                background-position: 87% 0;
                background-size: auto 243%;
                width: 34px;
                height: 34px;
            }
        }

        .profile-btn {
            position: absolute;
            bottom: 0;
            background: $cmwn-green;
            text-align: center;
            font-size: 20px;
        }

        .label {
            position: absolute;
            bottom: 7%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            width: 100%;
            text-align: center;
            color: $cmwn-white;
            font-family: $cmwn-jade-font;
            font-size: 22px;
        }

        .count {
            position: absolute;
            top: 47%;
            left: 8%;
            transform: translateX(-50%) translateY(-50%);
            text-align: center;
            color: $cmwn-white;
            font-size: 28px;
        }

        .single-flip {
            width: 25%;
        }

        .nav-btn {
            position: absolute;
            outline: none;
            border: 0;
            box-shadow: none;
            background: url($nav-btns);
            background-repeat: no-repeat;
            background-size: auto 200%;
            width: 38px;
            height: 44px;
        }

        .earned-flips {
            position: relative;
            background: url($trophcase-shelf);
            background-repeat: no-repeat;
            background-position: 0 100%;
            background-size: 100% auto;

            .earned-container {
                position: relative;
                margin: 0 15%;
                padding: 0;
                width: 70%;
                overflow: hidden;
                white-space: nowrap;
            }

            .earned {
                transition: margin 1s;
                width: 100%;
            }

            .flipcase {
                padding: 0 0 45%;
                height: 0;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                background: url($trophy);
                background-repeat: no-repeat;
                background-position: 0 60%;
                background-size: 100% auto;
                width: 16%;
                height: 100%;
                content: '';
            }

            .info-btn,
            .scroll-btn.forward {
                right: 4%;
            }


            .info-btn {
                bottom: 40%;
                background-position: 1px 4px;
            }

            .scroll-btn {
                bottom: 65%;

                // scss-lint:disable NestingDepth, SelectorDepth
                &.backward {
                    left: 4%;
                    transform: scaleX(-1);
                    background-position: -50px 4px;
                }

                &.forward {
                    background-position: -50px 4px;
                }
                // scss-lint:enable NestingDepth, SelectorDepth
            }

            .single-flip {
                padding-bottom: 35%;
                height: auto;
            }
        }

        .all-flips {
            position: relative;
            margin: 5% 0;
            padding-bottom: 75%;

            .shelf-container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 70%;
                height: 83.5%;
                overflow: hidden;
            }

            .shelves {
                transition: margin 1s;
            }

            .flipcase {
                position: relative;
                background: url($shelf);
                background-repeat: no-repeat;
                background-position: 0 100%;
                background-size: 100% auto;
                padding: 5% 0 25%;
                width: 100%;
                height: 0;
            }

            .single-flip {
                margin-top: -5%;
                padding-bottom: 25%;
                height: auto;
                overflow: hidden;

                // scss-lint:disable NestingDepth, SelectorDepth
                img {
                    bottom: 20%;
                }

                &::after {
                    position: absolute;
                    top: 60%;
                    left: 27%;
                    box-shadow: 0 20px 15px $cmwn-black;
                    width: 40%;
                    height: 5%;
                    content: '';
                }
                // scss-lint:enable NestingDepth, SelectorDepth
            }

            .scroll-btn {
                left: 50%;
                transform: translateX(-50%);

                // scss-lint:disable NestingDepth, SelectorDepth
                &.backward {
                    top: -3%;
                    transform: translateX(-50%) scaleY(-1);
                }

                &.forward {
                    bottom: -5%;
                }

                &.backward,
                &.forward {
                    background-position: -101px 4px;

                    &:hover {
                        background-position: -101px -40px;
                    }
                }
                // scss-lint:enable NestingDepth, SelectorDepth
            }
        }

        @media (max-width: $device-portrait-break) {
            .mobile {
                display: block;

                .modal-dialog {
                    margin: 0;
                    width: 100%;
                    height: 100%;
                }

                .profile-img {
                    position: absolute;
                    top: .5%;
                    left: 45%;
                    border-radius: 50%;
                    width: 15%;
                }

                .modal-content {
                    border: 0;
                    border-radius: 0;
                    box-shadow: none;
                    background: url($background);
                    background-size: 100% 100%;
                    width: 100%;
                    height: 100%;
                }

                .nav-btn {
                    display: none;
                }

                .earned-flips {
                    // scss-lint:disable NestingDepth, SelectorDepth
                    .earned-container {
                        margin: 0;
                        width: 100%;
                    }

                    .earned {
                        margin: 0;
                    }

                    .flipcase {
                        margin: 0 0 0 15%;
                        padding: 0 0 37%;
                        width: 85%;
                        overflow: auto;
                    }
                    // scss-lint:enable NestingDepth, SelectorDepth
                }

                .all-flips {
                    margin: 0;
                    padding-bottom: 90%;

                    // scss-lint:disable NestingDepth, SelectorDepth
                    .shelf-container {
                        top: 50%;
                        width: 100%;
                        height: 99%;
                        overflow: auto;
                    }
                    // scss-lint:enable NestingDepth, SelectorDepth
                }
            }
        }

        $increment: 30;

        @for $i from 0 through $increment {
            @media (min-width: $i * 35px) and (max-width: $device-portrait-break) {
                .label {
                    bottom: 5%;
                    font-size: 1px + $i;
                }

                .count {
                    top: 50%;
                    font-size: 8px + $i;
                }

                .welcome,
                .tap-to-view {
                    font-size: 1px + $i - 2;
                }

                .edit-profile-btn::after {
                    font-size: 35px + $i;
                }
            }

            @media (min-width: $device-portrait-break + $i * 40) and (max-width: $device-max-break) {
                .label {
                    font-size: 12px + $i;
                }

                .count {
                    font-size: 25px + $i;
                }
            }

            @media (min-width: $device-max-break + $i * 35) and (max-width: $monitor-max-break) {
                .label {
                    font-size: 12px + $i;
                }

                .count {
                    font-size: 20px + $i;
                }
            }
        }
    }
}
