@import '../../variables';

.profile {
    &.current-user {
        .flipboard .panel-body {
            display: flex;
            padding: $standard;
            flex-wrap: wrap;
            justify-content: space-between;


            > * {
                position: relative;
                flex: 1 0 275px;//arbitrary, looks good as a breakpoint
            }
        }

        .flip {
            border: 1px solid $cmwn-off-white;
            border-collapse: collapse;
            flex-basis: 280px;

            object {
                display: inline-block;
                border: 1px solid $cmwn-black;
                background: $cmwn-white;
                border-collapse: collapse;
            }
        }

        .overlay {
            overflow: scroll;

            .text {
                font-size: 1rem;

                @media (max-width: 370px) { // sizes reflect natural breakpoints in layout
                    font-size: .75rem;
                }

                @media(min-width: 370px) and (max-width: $device-portrait-break) { // sizes reflect natural breakpoints in layout
                    font-size: 1rem;
                }

                @media (min-width: $device-portrait-break) and (max-width: 590px) { // sizes reflect natural breakpoints in layout
                    font-size: 1rem;
                }

                @media (min-width: 590px) and (max-width: $device-max-break) { // sizes reflect natural breakpoints in layout
                    font-size: .75rem;
                }

                @media (min-width: $device-max-break + 1) and (max-width: $device-max-break + 50) { // sizes reflect natural breakpoints in layout
                    font-size: .4rem;
                }

                @media (min-width: $device-max-break + 50) and (max-width: $device-max-break + 150) { // sizes reflect natural breakpoints in layout
                    font-size: .6rem;
                }

                @media (min-width: $device-max-break + 150) and (max-width: $device-max-break + 200) { // sizes reflect natural breakpoints in layout
                    font-size: .7rem;
                }

                @media (min-width: $device-max-break + 200) and (max-width: $device-max-break + 250) { // sizes reflect natural breakpoints in layout
                    font-size: .9rem;
                }
            }
        }

        .coming-soon,
        .desktop-only {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .coming-soon {
            background: url('../../media/coming-soon.png') no-repeat right top;
        }

        .desktop-only {
            background: url('../../media/desktop-only.png') no-repeat 100% 100%;
            background-size: 25%;
        }
    }

    &.user {
        .panel-heading {
            border: 0;
        }

        .label {
            text-transform: uppercase;
            color: $cmwn-white;
            font-family: $cmwn-jade-font;
            font-size: 1.25rem;
        }

        .field {
            border-radius: 5px;
            box-shadow: 0 0 6px $cmwn-medium-blue;
            background: url('../../media/blue-header-bg.jpg');
            padding: $standard / 3;
            color: $cmwn-white;
            font-size: 1.25rem;
        }

        .left.profile-image-container {
            position: relative;
            border: 1px solid $cmwn-white;
            width: 45%;

            .profile-image {
                margin: $standard * 2;
                border: 2px solid $cmwn-white;
                border-radius: 2px;
                padding-bottom: 0;
            }
        }

        .right.user-fields {
            position: relative;
            padding: 0 $standard;
            width: 55%;
        }

        &:not(.friends) {
            .left.profile-image-container {
                left: 50%;
                transform: translateX(-50%);
            }

            .right.user-fields,
            .trophycase {
                display: none;
            }
        }
    }
}
