.profile {

    .flip {
        flex-basis: 280px;
        border: 1px solid #eeeeee;
        border-collapse: collapse;

        object {
            display: inline-block;
            background: #fff;
            border: 1px solid black;
            border-collapse: collapse;
        }
    }

    .link-below {
        
        .below {
            display: none;
        }
    }

    .infopanel {

        .profile-image {
            float: left;
            padding-right: 15px;
        }
    }

    .item>img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
    }
}
