@import 'variables';

.profile {

    .panel-body {
        padding: $standard;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        & > * {
            flex: 1 0 275px;//arbitrary, looks good as a breakpoint
            position: relative;
        }

        .right {
            margin: 0 auto;
            z-index: 2;

            label, span, h3, h2, p, a {
                //fixes a horrible chrome/osx font aliasing issue http://stackoverflow.com/questions/8024061/webkit-blurry-text-with-css-scale-translate3d
                transform: translate3d(0, 0, 0);
                filter: blur(0);
            }

            .input-group-addon {
                padding: 0;
                margin: 0;
                border: 0;
            }

            .has-addon {

                .form-control-feedback:before {
                    margin-left: -75px;
                }
            }
        }

        .left {
            margin: 0 auto;
            z-index: 1;

            & > * {
                position: relative;
                text-align: center;
                margin: 0 auto;
            }
        }

        .frame {
            margin-top: ($standard * 5);
            width: 100%;

            & > * {
                width: 100%;
                margin: 0 auto;

                & > * {
                    border: 1px solid $cmwn-blue;
                    border-radius: 10px;
                    box-shadow: -5px 5px 5px rgba(46, 163, 242, 0.5);
                    padding: $standard;
                    width: 60%;
                    margin: 0 auto;
                }
            }
        }

        .user-metadata {
            font-size: 1rem;
            padding: 1rem;
            color: $cmwn-blue;
        }

        .user-metadata  .field {
            background: url(../../media/blue-header-bg.jpg);
            border-radius: 5px;
            color: #fff;
            padding: $standard / 3;
            font-size: 1.25rem;
            box-shadow: 0px 0px 6px rgba(46, 163, 242, 0.9)
        }
    }

    .flip {
        flex-basis: 280px;
        border: 1px solid #eeeeee;
        border-collapse: collapse;

        object {
            display: inline-block;
            background: #fff;
            border: 1px solid black;
            border-collapse: collapse;
        }
    }

    .link-below {

        .below {
            display: none;
        }
    }

    .item > .coming-soon {
        background: url(../../media/coming-soon.png) no-repeat right top;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
